svg(style='position: absolute; width: 0; height: 0;', width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink'): defs
  symbol#net_svg(viewBox="0 0 29 32")
    include svg/net
  symbol#boxes_svg(viewBox="0 0 32 32")
    include svg/boxes
  symbol#flag_svg(viewBox="0 0 37 32")
    include svg/flag
  symbol#message_svg(viewBox="0 0 31.012 31.012")
    include svg/message
  symbol#gate_svg(viewBox="0 0 512 512")
    include svg/gate
  symbol#phone_svg(viewBox="0 0 29.731 29.731")
    include svg/phone
  symbol#bike_svg(viewBox="0 0 50 34")
    include svg/bike
  symbol#bus_svg(viewBox="0 0 50 34")
    include svg/bus
  symbol#car_svg(viewBox="0 0 50 34")
    include svg/car
  symbol#eye_svg(viewBox="0 0 488.85 488.85")
    include svg/eye
  symbol#vk_svg(viewBox="0 0 24 24")
    include svg/vk
  symbol#ig_svg(viewBox="0 0 24 24")
    include svg/ig
  symbol#fb_svg(viewBox="0 0 24 24")
    include svg/fb
  symbol#tw_svg(viewBox="0 0 24 24")
    include svg/tw
  symbol#yt_svg(viewBox="0 0 24 24")
    include svg/yt
  symbol#burger_svg(viewBox="0 0 53 53")
    include svg/burger
  symbol#st_ok_svg(viewBox="0 0 22 22")
    include svg/st_ok
  symbol#st_timer_svg(viewBox="0 0 22 22")
    include svg/st_timer
  symbol#st_message_svg(viewBox="0 0 22 22")
    include svg/st_message
  symbol#settings_svg(viewBox="0 0 24 24")
    include svg/settings
  symbol#stix_svg(viewBox="0 0 24 24")
    include svg/stix
  symbol#bag_svg(viewBox="0 0 24 24")
    include svg/bag
  symbol#percent_svg(viewBox="0 0 24 24")
    include svg/percent
  symbol#cross_svg(viewBox="0 0 24 24")
    include svg/cross
  symbol#list_svg(viewBox="0 0 24 24")
    include svg/list
  symbol#skype_svg(viewBox="0 0 15 15")
    include svg/skype
  symbol#phonefill_svg(viewBox="0 0 15 15")
    include svg/phonefill
  symbol#messagefill_svg(viewBox="0 0 21 15")
    include svg/messagefill
  symbol#telegram_svg(viewBox="0 0 15 15")
    include svg/telegram
  symbol#logotip_svg(viewBox="0 0 82 82")
    include svg/logotip

  symbol#calendar_svg(viewBox="0 0 11 12")
    include svg/calendar
  symbol#clock_svg(viewBox="0 0 12 12")
    include svg/clock

  