@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
// @import "../../node_modules/bootstrap/scss/functions";
// @import "variables"; // Кастомные переменные
// @import "../../node_modules/bootstrap/scss/bootstrap";
// @import "plugins/include-media"; // Кастомизированный плагин для медиазапросов

html {
  font-size: 10px; // Не менять
  letter-spacing: 1px;
  @include media('<sm') {
    font-size: 8px;
  }
}

@import "components/$components-main";
@import "styles/$styles-main"; 
@import "helpers/$helpers-main";


input::placeholder{
  opacity: .4;
}

.paysystem{
  display: flex;
  align-items: center;
  &-icon{
    width: 30px;
    display: inline-flex;
    text-align: center;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &-amount{
    margin-left:auto;
  }
}
.page{
  margin-bottom: 5rem;
}
