<template lang="pug">
    include index.pug
</template>


<script>
    import graphic from "@/components/graphic.vue";
    export default {
        components:{
            graphic,
        }
    }
</script>
