.card: .card-body
  .roundcontainer-x.d-flex.c-w-100
    .rounditem.briefcase
      .briefcase-item
        v-svg(name="stix_svg" size='23' color="primary")
        vn-digit(label="INVESTED" suffix='CRT' size="sm" onerow): span.text-success {{7000 | formatMoney}}
      .briefcase-item
        v-svg(name="calendar_svg" size='sm' color="primary")
        vn-digit(label="DATE_IN" size="sm" onerow): span.font-weight-normal 11:27 01.08.2017
      .briefcase-item
        v-svg(name="calendar_svg" size='sm' color="success")
        vn-digit(label="DATE_OUT" size="sm" onerow): span.font-weight-normal 10:32 21.10.2018
      .briefcase-item
        v-svg(name="clock_svg" size='sm' color="primary")
        vn-digit(label="ACCURED" suffix='SRT' size="sm" onerow): span.text-success {{300 | formatMoney}}
      .briefcase-item
        v-svg(name="logotip_svg" size='sm')
        vn-digit(label="BALANCE" suffix='CRT' size="sm" onerow): b.text-success {{720 | formatMoney}}
    .rounditem.p-0.pl-5.d-none.d-lg-block
      graphic
