<template lang="pug">
header
  .container: .cabinet-header
    a(href="/"): img(src='@/assets/logotype.svg').mr-5.mb-2.order-1
    vn-balance(:balance='Balance')
  
    .d-flex.align-items-center.text-uppercase.marginal-x-2.order-2.order-xl-3.my-3
      vn-langswitch
      el-select.profile-select(size="small" placeholder="bearcoin" value='')
        el-option(v-for="(item, i) in profileMenu" :key="item.text" :label="item.text" :value="item.text")
            router-link(:to="item.url", :key='i+"link"')
              .text-dark {{item.text}}
  .container: .card.mb-5: .card-body: vn-menu(:links="partnersMenu" hover="success" between)
  vn-burger(:links="MainMenu").d-xl-none    

</template>

<script>
import VnBurger from "@/components/vn-burger.vue";
import VnLangswitch from '@/components/vn-langswitch.vue';
import VnBalance from '@/components/vn-balance.vue';
import Balance from "@/data/balance.js";
import AuthMenu from "@/data/menus/auth-menu";
import partnersMenu from '@/data/menus/partners-menu.js';
import profileMenu from '@/data/menus/profile-menu.js';


import MainMenu from "@/data/menus/main-menu";
export default {
  data() {
    return {
      partnersMenu,
      Balance,
      AuthMenu,
      MainMenu,
      profileMenu,
      windowWidth: null
    };
  },
  components: {
    VnBurger,
    VnLangswitch,
    VnBalance,
  },
};
</script>
