<template lang="pug">
.card-body
  h1.text-center {{ $t('LOGIN.TITLE') }}
  .form-group
    .row
      .col-md-6.col-12: vn-forminput(size="lg" label="Email" type="email" v-model="email")
      .col-md-6.col-12.pt-15.pt-md-0: vn-forminput(size="lg" label="Password" type="password" v-model="password")
  .form-actions
    .d-flex.flex-column.flex-xl-row.align-items-center.justify-content-between.text-center.marginal-y-10.marginal-y-xl-0
      .marginal-x-30
        router-link(:to="{name: 'signup'}").text-primary {{ $t('REG_BTN') }}
        router-link(:to="{name: 'reset'}").text-primary {{ $t('RESET_PASSWORD_LINK') }}
      .text-xl-right
        button.btn.btn-lg.btn-primary(@click="submit")  {{ $t('LOGIN_BTN')}}
</template>
<script>
import {Api} from "../../services/api";

export default {
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  methods:{
      submit(){
          Api.signIn(this.email, this.password).then(data => console.log(data));
      }
  }
};
</script>
