<template lang="pug">
header
  .container: .d-flex.justify-content-xl-between.align-items-center.justify-content-start
    .d-flex.align-items-end
      a(href="/"): img(src='@/assets/logotype.svg').mr-1.mr-md-5
      vn-menu(:links="MainMenu" hover="primary" marginal="5").text-uppercase.d-none.d-xl-flex
      vn-burger(:links="MainMenu").d-xl-none

    .d-flex.align-items-center.text-uppercase.mt-15
      .d-none.d-xl-flex
        router-link(:to="AuthMenu[0].url").btn.btn-link.nav-link {{ $t(AuthMenu[0].text)}}
        router-link(:to="AuthMenu[1].url").btn.btn-link.nav-link.text-primary {{ $t(AuthMenu[1].text)}}
      vn-langswitch
</template>

<script>
import VnBurger from '@/components/vn-burger.vue';
import MainMenu from '@/data/menus/main-menu';
import AuthMenu from '@/data/menus/auth-menu';
import VnLangswitch from '@/components/vn-langswitch.vue';
export default {
  data(){
    return {
      MainMenu,
      AuthMenu
    }
  },
  components:{
    VnBurger,
    VnLangswitch
  }
}
</script>
