<template lang="pug">
.card-body
  h1.text-center {{ $t('REG.TITLE') }}
  .form-group
    .row
      .col-md-6.col-12: vn-forminput(size="lg" label="Email" type="email" v-model="email")
      .col-md-6.col-12.pt-15.pt-md-0: vn-forminput(size="lg" label="Password" type="password" v-model="password")
  .form-group
    hr
    h5 {{ $t('REG.INPUT_WALLETS') }}
    .form-group.row(v-for="(item, i) in paysystems")
      .col-4
        .paysystem
          .paysystem-icon.mr-2: img(:src="'/assets/payments/' +item.img")
          .paysystem-name {{ item.name }}
      .col
        el-input(:placeholder="$t('INPUT_OPTIONAL')")

  hr
  .row.form-group
    .col-4 {{ $t('YOU_WERE_INVITED_BY') }}
    .col
      el-input(:placeholder="$t('INPUT_OPTIONAL')")
  hr
  .form-actions
    .d-flex.flex-column.flex-xl-row.align-items-center.justify-content-between.text-center.marginal-y-10.marginal-y-xl-0
      .marginal-x-30
        router-link(:to="{name: 'login'}").text-primary   {{ $t('LOGIN_BTN')}}
      .text-xl-right
        a(href="#").btn.btn-lg.btn-primary  {{ $t('REG_BTN')}}
</template>
<script>
  import Paymentsystems from '@/data/paysystems.js';
    export default {
        data: function() {
            return{
                login: '',
                password: '',
                paysystems: Paymentsystems
            }
        }
    }
</script>
