<template lang="pug">
.card-body
  h1.text-center {{ $t('RESET_PASSWORD.TITLE') }}
  .form-group
    .row
      .col: vn-forminput(size="lg" label="Email" type="email" v-model="email")
  .form-actions
    .row.align-items-center
      .col.marginal-x-30
        router-link(:to="{name: 'login'}").text-primary   {{ $t('LOGIN_BTN')}}
        router-link(:to="{name: 'signup'}").text-primary  {{ $t('REG_BTN')}}
      .col.text-right
        a(href="#").btn.btn-lg.btn-primary  {{ $t('RESET_PASSWORD.BTN')}}
</template>
<script>
export default {
  data: function() {
    return {
      email: "",
    };
  }
};
</script>
