@import "font-size";
@import "roundcontainer";
@import "marginal";
@import "parent-class";

.outline-0{
  outline: none!important;
  box-shadow: none!important;
}
.z-index-1{
  z-index: 1;
}

.z-index--1{
  z-index: -1;
}
.z-index-2{
  z-index: 2;
}
.z-index-3{
  z-index: 3;
}
.z-index-99 {
  z-index: 99;
}

.line-height-1{
  line-height: 1!important;
}

.cursor-pointer{
  cursor: pointer;
}

.text-underline{
  text-decoration: underline!important;
}

.overlow-x-hidden {
  overflow-x: hidden;
}

// Font-weight
.font-weight-xbold {
  font-weight: $font-weight-xbold;
}

.font-weight-sbold {
  font-weight: $font-weight-sbold;
}


.over-container {
  min-width: 1200px;
  @include media('<1200px') {
    min-width: auto;
  }
}


.rounded-3 {
  border-radius: 3px !important;
}

.rounded-5 {
  border-radius: 5px!important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.right-0 {
  right: 0!important;
}
.left-0 {
  left: 0!important;
}
.top-0 {
  top: 0!important;
}
.bottom-0 {
  bottom: 0!important;
}

.letter-spacing-0{
  letter-spacing: 0!important
}

.align-sub{
  vertical-align: sub!important;
}
.border-3{
  border-width: 3px!important
}




