$font-sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$font-sizes: map-merge(("10": 1rem,
"12": 1.2rem,
"14": 1.4rem,
"16": 1.6rem,
"18": 1.8rem,
"20": 2rem,
"22": 2.2rem,
"24": 2.4rem,
"26": 2.6rem,
"lg": $font-size-lg,
"md": $font-size-md,
"sm": $font-size-sm,
),
$font-sizes);

@each $key,
$value in $font-sizes {
  .font-#{$key} {
    font-size: $value !important
  }
}

@each $key,
$value in $font-sizes {
  .links-font-size-#{$key} {
    a {
      font-size: $value !important
    }
  }
}