$customclasses: (
  'icon-sm',
  'icon-xs',
  'border',
  'rounded',
  'w-100',
  'h-100',
  );

@mixin children-class($class) {
  .c-#{$class} > *, .c-#{$class} > div{
      @extend .#{$class};
    }
  }

  @each $color, $value in $theme-colors {
    @include children-class("text-#{$color}");
  }

  @each $color, $value in $theme-colors {
    @include children-class("bg-#{$color}");
  }

  @each $color, $value in $theme-colors {
    @include children-class("border-#{$color}");
  }

  @each $class in $customclasses {
    @include children-class("#{$class}");
  }

