

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .roundcontainer-x#{$infix} {
      display: flex !important;
      flex-direction: row !important;
      &>*:not(:last-child) {
        border-right-width: 0 !important;
        border-radius: 0 !important;
        border-bottom-width: 1px !important
      }
    
      &>*:first-child {
        border-radius: $border-radius 0 0 $border-radius !important;
      }
    
      &>*:last-child {
        border-radius: 0 $border-radius $border-radius 0 !important;
      }
    }
    
    .roundcontainer-y#{$infix} {
      display: flex !important;
      flex-direction: column !important;
      &>*:not(:last-child) {
        border-bottom-width: 0 !important;
        border-radius: 0 !important;
        border-right-width: 1px !important;
      }
    
      &>*:first-child {
        border-radius: $border-radius $border-radius 0 0 !important;
      }
    
      &>*:last-child {
        border-radius: 0 0 $border-radius $border-radius !important;
      }
    }

  }
}
