<template lang="pug">
.row
  .col-sm-4: plan1
  .col-sm-4: plan2
  .col-sm-4: plan3
</template>


<script>
    import plan1 from './plansItem_1';
    import plan2 from './plansItem_2';
    import plan3 from './plansItem_3';
    export default {
        components:{
            plan1, plan2, plan3
        }
    }
</script>
