<template lang="pug">
.card.h-100
  .card-header
    v-svg(name="boxes_svg" :class="classObject").mr-20
    | Profitable weekly
  .card-body
    .d-flex.roundcontainer-x.align-items-center
      .col.border.border-secondary.p-20
        vn-digit(label="PLAN.TOTAL_PROFIT" ) 225%
      .col.border.border-secondary.p-20
        vn-digit.digit-primary(label="PLAN.TERM" ) 9 Недель
  .card-body
    .marginal-y-10

      .d-flex.justify-content-between
        span {{ $t('PLAN.DEPOSIT_AMOUNT') }}
        span
          span.text-muted {{ $t('FROM') }}
          |
          | $20
          |
          span.text-muted {{ $t('UP_TO') }}
          |
          | $100K
      .d-flex.justify-content-between
        span Начисление
        span 25% в неделю
      .d-flex.justify-content-between
        span {{ $t('PLAN.AUTO_ACCRUALS') }}
        span {{ $t('YES') }}
      .d-flex.justify-content-between
        span {{ $t('PLAN.WEEKLY_ACCRUALS') }}
        span {{ $t('YES') }}
      .d-flex.justify-content-between
        span {{ $t('PLAN.PAYOUTS_INCLUDE_DEPOSIT') }}
        span {{ $t('YES') }}
  .card-body
    .d-flex.justify-content-center
      button.btn.btn-primary {{$t('INVEST')}}
    div.pb-70
      hr
      img(:src="src").tarif-line
</template>

<script>
export default {
  data: function() {
    return {
        src: require('../../assets/yellow-line.svg'),
    }
  },

  computed: {
    classObject: function() {
      return {
        "text-success": this.tarif == "net",
        "text-primary": this.tarif == "boxes",
        "text-danger": this.tarif == "flag"
      };
    },

  }
};
</script>
