<template lang="pug">
.card
  .card-header
    v-svg(:name='tarif+"_svg"' :class="classObject").mr-20
    | {{tarifs[tarif].name}}
  .card-body
    .d-flex.roundcontainer-x
      .col.border.border-secondary.p-20 {{$t('PROFIT')}}
      .col.border.border-secondary.p-20 {{$t('TERM')}}
  .card-body
    .marginal-y-10: .d-flex.justify-content-between(v-for="(item, k) in tarifs[tarif].info")
      span {{keyformat(k)}}
      span {{item}}{{valueformat(k)}}
  .card-body
    .d-flex.justify-content-center
      button.btn.btn-primary {{$t('INVEST')}}
    div.pb-70
      hr
      small {{$t('PROGNOSIS')}}
      img(:src="tarifs[tarif].src").tarif-line
      //- span {{tarifs[tarif].info.src}}
</template>

<script>
export default {
  data: function() {
    return {
      tarifs: {
        net: {
          name: "Dynamic Daily",
          info: {
            perDay: "Да",
            percent: 170,
            min: 500,
            max: 5000,
          },
          src: require('../../assets/green-line.svg')
        },
        boxes: {
          name: "Токены Starterico",
          info: {
            perDay: "Да",
            percent: 45,
            min: 500,
            max: 5000,
          
          },
           src: require('../../assets/yellow-line.svg')
        },
        flag: {
          name: "ICO (Initial Coin Offering)",
          info: {
            perDay: "Да",
            percent: 45,
            min: 500,
            max: 5000,
            
          },
          src: require('../../assets/red-line.svg')
        }
      }
    };
  },
  props: {
    tarif: {
      type: String,
      default: "net"
    }
  },
  methods:{
      keyformat(k){
        switch (k) {
          case "perDay": return "Ежедневные начисления" ;
          case "percent": return "Доходность за период";
          case "min": return "Минимальная сумма";
          case "max": return "Максимальная сумма";
          default: return "Значение";
      }
    },
      valueformat(k){
        switch (k) {
          case "perDay": return "" ;
          case "percent": return "%";
          case "min": return "STR";
          case "max": return "STR";
          default: return "";
      }
    }
  },
  computed: {
    classObject: function() {
      return {
        "text-success": this.tarif == "net",
        "text-primary": this.tarif == "boxes",
        "text-danger": this.tarif == "flag"
      };
    },

  }
};
</script>
