<template lang="pug">
.card
  .card-header
    v-svg(name="net_svg" :class="classObject").mr-20
    | Dynamic Daily
  .card-body
    .d-flex.roundcontainer-x.align-items-center
      .col.border.border-secondary.p-20
        vn-digit(label="PLAN.TOTAL_PROFIT" ) 170%
      .col.border.border-secondary.p-20
        vn-digit.digit-primary(label="PLAN.PERCENT_OR_DAY" ) 3%
    .mt-2.text-muted.small Процент дня сохраняется на весь срок депозита , пока не будет выплачено 170%
  .card-body
    .marginal-y-10

      .d-flex.justify-content-between
        span {{ $t('PLAN.DEPOSIT_AMOUNT') }}
        span
          span.text-muted {{ $t('FROM') }}
          |
          | $20
          |
          span.text-muted {{ $t('UP_TO') }}
          |
          | $100K
      .d-flex.justify-content-between
        span {{ $t('PLAN.PERCENT_WEEKEND') }}
        span 1%
      .d-flex.justify-content-between
        span {{ $t('PLAN.AUTO_ACCRUALS') }}
        span {{ $t('YES') }}
      .d-flex.justify-content-between
        span {{ $t('PLAN.DAILY_ACCRUALS') }}
        span {{ $t('YES') }}
      .d-flex.justify-content-between
        span {{ $t('PLAN.PAYOUTS_INCLUDE_DEPOSIT') }}
        span {{ $t('YES') }}
  .card-body
    .d-flex.justify-content-center
      button.btn.btn-primary {{$t('INVEST')}}
    div.pb-70
      hr
      img(:src="src").tarif-line
</template>

<script>
export default {
  data: function() {
    return {
        src: require('../../assets/green-line.svg'),
    }
  },

  computed: {
    classObject: function() {
      return {
        "text-success": this.tarif == "net",
        "text-primary": this.tarif == "boxes",
        "text-danger": this.tarif == "flag"
      };
    },

  }
};
</script>
