vn-page(title='WITHDRAW_PAGE.TITLE')
  .row
    .col: .card.h-100: .card-body
      h5 {{$t('WITHDRAW_FROM.TO')}}
      button.btn.btn-info.btn-block.text-left.mb-2(type="button" v-for="(item, i) in payments")
        .paysystem
          .paysystem-icon.mr-2: img(:src="'/assets/payments/' + item.img ")
          .paysystem-name {{ item.name }}
          .paysystem-amount
            | {{7000 | formatMoney}}
            span.text-muted.ml-1 {{ item.curr.shortName }}


    .col: .card: .card-body
      h5 {{$t('WITHDRAW_FROM.AMOUNT')}}
      vn-range(v-model='summ' max='100000' name='AMOUNT')
      .card.bg-info: .card-body: .marginal-y-3
        .row.align-items-center
          .col-auto: vn-digit(label="NEXT_ACCRUALS" suffix="BTC" size="lg"): span.text-success {{7000 | formatMoney}}
          .col: .card.bg-secondary: .card-body.small {{$t('MOMENTUM')}}
        button.btn.btn-primary {{$t('WITHDRAW_BTN')}}
