<template lang="pug">
    include index.pug
</template>

<script>
    import Payments from "@/data/paysystems";
    import vnTable from "@/components/vn-table.vue";
    import moreBtn from "@/components/more-btn.vue";
    import transactions from '@/data/tranzactions.js';

    export default {
        data(){
            return{
                summ: 0,
                transactions,
                payments: Payments
            }
        },
        components:{
            vnTable, moreBtn
        }
    }
</script>

