<template lang="pug">
  include index.pug
</template>

<script>
  import char from './char';
  export default {
      props: {
        title: { type: String, default: null }
      },
      components:{
          char
      },
      data(){
/*
          {value:260, name:'Bitshares',itemStyle: {color: '#4373ED'}},
          {value:130, name:'Byteball',itemStyle: {color: '#1B438D'}},
          {value:65, name:'Ripple',itemStyle: {color: '#9237FF'}},
          {value:65, name:'Etherium',itemStyle: {color: '#D944DA'}},
          {value:65, name:'Etherium',itemStyle: {color: '#DA4444'}},
*/
          return{
              countries: [
                  { code: 'ru', percent: 30, name: 'Russia', icon: 'russia.svg', color: '#FB497C'  },
                  { code: 'vn', percent: 20, name: 'Vietnam', icon: 'vietnam.svg', color: '#FFC760' },
                  { code: 'be', percent: 10, name: 'Belarus', icon: 'belarus.svg', color: '#6FE621' },
                  { code: 'ge', percent: 5, name: 'Germany', icon: 'germany.svg', color: '#4FCCFF' },
                  { code: 'ch', percent: 20, name: 'China', icon: 'china.svg', color: '#4373ED' },
                  { code: 'it', percent: 20, name: 'Italy', icon: 'italy.svg' },
                  { code: 'usa', percent: 20, name: 'USA', icon: 'usa.svg' },
                  { code: 'sp', percent: 20, name: 'Spain', icon: 'spain.svg' },
                  { code: 'jp', percent: 30, name: 'Japan', icon: 'japan.svg' },
                  { code: 'cn', percent: 50, name: 'Canada', icon: 'canada.svg' },
                  { code: 'db', percent: 20, name: 'Great Britain ', icon: 'united-kingdom.svg' },
                  { code: 'db', percent: 40, name: 'Ukraine ', icon: 'ukraine.svg' },
                  { code: 'pl', percent: 35, name: 'Poland ', icon: 'poland.svg' },
                  { code: 'pl', percent: 20, name: 'Portugal ', icon: 'portugal.svg' },
                  { code: 'pl', percent: 20, name: 'Nigeria ', icon: 'nigeria.svg' },
                  { code: 'pl', percent: 20, name: 'Netherlands ', icon: 'netherlands.svg' },
              ]
          }
      }
  }
</script>
