.row.align-items-center
  .col-12.col-xl-6
    h2(v-if="title"): t {{ title }}
    slot
    .row
      .col-sm-5(v-for="country in countries")
        .countries-item
          img.countries-icon(:src="'/assets/countries/icon/' +country.icon")
          .text-muted {{ country.name }}
          .countries-percent {{ country.percent }}%
  .col-12.col-xl-6
    char(:countries="countries")
