<template lang="pug">
  vn-page(title='TRANSACTIONS.TITLE' :show_title="false")
    .card: .card-body
      el-table(:data='cutTable' style='width: 100%' stripe)
        el-table-column(prop='number' label='Number')
        el-table-column(prop='date' label='Time')
        el-table-column(prop='price' label='Price'): template(slot-scope='scope')
          b.text-primary {{scope.row.price}} 
          span {{scope.row.curs}}
        el-table-column(prop='system' label='PAY_SYSTEM' width='200')
        el-table-column(prop='status' label='' width='50'): template(slot-scope='scope')
          img(src='@/assets/ok.svg')
        el-table-column(prop='up' label='' width='50'): template(slot-scope='scope')
          img(v-if='scope.row.up' src='@/assets/up.svg')
          img(v-else src='@/assets/down.svg')
      div
        el-pagination(:page-size="rowsinPage" :pager-count="5" layout="prev, pager, next" :total="tableData.length" @next-click="selectPage('switch',1)" @prev-click="selectPage('switch',-1)" @current-change="selectPage('set',$event)")
</template>
<script>
import tableData from "@/data/tranzactions";
export default {
  data() {
    return {
      tableData,
      rowsinPage: 9,
      currPage: 1,
    };
  },
  methods: {
    selectPage: function(mode, param) {
      if (mode == "switch") {
        this.currPage += param;
      } else if (mode == "set") {
        this.currPage = param;
      }
    }
  },
  computed:{
    cutTable(){
      let firstIndex = this.currPage * this.rowsinPage - this.rowsinPage
      let x = this.tableData.slice(firstIndex , firstIndex+this.rowsinPage) 
      return x
    }
  }
};
</script>

