<template lang="pug">
  vn-page(title='ABOUT.TITLE')
    .bg-about.d-none.d-xl-block
    section: .row.align-items-center
      .col-12.col-xl-8
        p.font-md {{ $t('ABOUT.SUBTITLE') }}
        area(v-html="$t('ABOUT.CONTENT')")
    section.pt-xl-150: .card.card-md: .card-body: .row.align-items-center
      .col-12.col-xl-5
        h2 {{ $t('DOCUMENTS') }}
        p(v-t="'ABOUT.DOCUMENTS_CONTENT'")
</template>
