<template lang="pug">
  vn-page(title='OPEN_DEPOSIT_PAGE.TITLE')

    .card
      .card-body
        h5 {{$t('OPEN_DEPOSIT_FORM.SELECT_PAYMENT_SYSTEM')}}
        .tabs.mb-3
          a(href='#')
              img(src='@/assets/req-bit.svg')
              span Bitcoin
          a(href='#')
              img(src='@/assets/req-lit.svg')
              span Litecoin
          a(href='#')
              img(src='@/assets/req-eth.svg')
              span Etherium
          a(href='#')
              img(src='@/assets/req-pay.svg')
              span Payeer
          a(href='#')
              img(src='@/assets/req-adv.svg')
              span AdvCash
          a(href='#')
              img(src='@/assets/req-nix.svg')
              span NixMoney
          a(href='#')
              img(src='@/assets/req-per.svg')
              span PerfectMoney
        h5 {{$t('OPEN_DEPOSIT_FORM.SELECT_PAYMENT_SYSTEM')}}
        .row
          .col-xl-8
            vn-range(v-model='summ' max='100000' name='psys_empty')
            .card.bg-info: .card-body
              .roundcontainer-x-md.roundcontainer-y.d-flex
                .rounditem: vn-digit(label="QUANTITY" size="sm")
                  b.text-primary {{15000 | formatMoney}}
                  span.text-primary.font-weight-normal CRT
                .rounditem: vn-digit(label="QUANTITY" size="sm")
                  b.text-primary {{5000 | formatMoney}}
                  span.text-primary.font-weight-normal RUB
              .row.align-items-center
                .col-auto: vn-digit(label="NEXT_ACCRUALS" suffix="CRT (5,000 RUB)" size="lg"): span.text-success 2850
                //.col: .card.bg-secondary: .card-body.small {{$t('TEXT_ABOUT_TIME')}}
              button.btn.btn-primary {{$t('ADD_MONEY')}}
                  
          //.col.mt-xl-0.mt-4: .card.bg-thirdly.h-100: .card-body
            more-btn(:href="{name: 'about'}") {{ $t('RECENT_TRANSACTIONS') }}
            vn-table(:data='transactions' length='9')
      
</template>


<script>
import vnTable from "@/components/vn-table.vue";
import moreBtn from "@/components/more-btn.vue";
import transactions from '@/data/tranzactions.js';

export default {
  data(){
    return{
      summ: 0,
      transactions
    }
  },
  components:{
    vnTable, moreBtn
  }
}
</script>

