<template lang="pug">
  vn-page(title='CONTACTS_TITLE')
      .subsection
        .card: .card-body.d-flex.justify-content-around.flex-column.flex-md-row.marginal-y-md-0.marginal-y-2
          div
            v-svg(name='phone_svg' size="md").mr-2
            vn-link-contact(contact="880085999144")
          div
            v-svg(name='message_svg' size="md").mr-2
            vn-link-contact(contact="hello@starterico.found" type="mail")
          div
            v-svg(name='gate_svg' size="md").mr-2
            span {{ $t('WORKTIME', { start: '9:00', finish: '20:00' }) }}
      //.subsection
        iframe.d-none.d-xl-block(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30779.236519028604!2d-73.96822956476834!3d40.605785660437085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c244c7700d1e71%3A0x1bd9073fb496dc78!2z0JzQuNC00LLRg9C0LCDQkdGA0YPQutC70LjQvSwg0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1541947410821', width='1140', height='300', frameborder='0', style='border:0', allowfullscreen='')
      //.subsection
        .card: .card-body.marginal-y-4
          h3 {{ $t('FEEDBACK') }}
          .row
            .col: el-input(size="medium" :placeholder="$t('FIRST_NAME')")
            .col: el-input(size="medium" :placeholder="$t('LAST_NAME')")
          .row
            .col: el-input(size="medium" :placeholder="$t('EMAIL')")
            .col: el-input(size="medium" :placeholder="$t('PHONE')")
          .row
            .col: el-input(size="medium" rows="5"  type="textarea" :placeholder="$t('Message')")
          .d-flex.justify-content-end: .btn.btn-primary {{ $t('SEND_BTN') }}
</template>




