<template lang="pug">
  vn-page(title='DIALOG.TITLE')
    router-link.btn.btn-info.text-primary.font-weight-normal.mb-5(to="support") {{$t('BACK_BTN')}}
    .card: .card-body
      vn-dialog(:messages='messages')
      .actions
        textarea(rows='1' :placeholder="$t('TEXT_MESSAGE')").textarea
        button.btn.btn-sm.btn-primary.enter {{$t('SEND_BTN')}}
</template>

<script>
import vnDialog from '@/components/vn-dialog'
import messages from '@/data/messages'
export default {
  data(){
    return{
      messages
    }
  },
  components:{
    vnDialog
  }
}
</script>
