<template lang="pug">
  vn-page(title='FAQ_PAGE.TITLE')
    .card: .card-body
      vn-faq
</template>

<script>
    import vnFaq from "../components/vn-faq.vue";
    export default {
        components: {
            vnFaq
        }
    }
</script>

