<template lang="pug">
vn-page#home(:fillwidth="true")
  section.py-md-100
    img(src='../assets/main1.svg').bg-main.d-none.d-xl-block
    .container: .row: .col-xl-8.col-12
      
      h1: t HOME.TITLE
      .lead(v-t="'HOME.INTRO'")
      .mt-5
        a(href="#").btn.btn-primary.btn-lg.mr-5 {{$t('START_BTN')}}
        span {{ $t('PROFIT') }} {{$t('FROM')}}
          span.text-success.font-weight-sbold.font-lg 1,5% 
          t UP_TO
          span.text-success.font-weight-sbold.font-lg 14,0% 
          t PER_DAY

  section: .container: .row.align-items-center
    .d-none.d-xl-block.col-5: img(src="../assets/main2.svg")
    .col-12.col-xl-7
      h2
        t HOME.ABOUT_TITLE
        smile(name="wink2")
      p.font-md
        t HOME.ABOUT_CONTENT
      .row
        .paysystem.col-auto(v-for="item in currs")
          .paysystem-icon: img(:src="'/assets/payments/' +item.img")
  section: .container
    vn-countries(title="HOME.COUNTRIES_TITLE"): p.font-md {{ $t('HOME.COUNTRIES_CONTENT') }}



  section: .container: .row.align-items-center
    .col-xl-5.col-12
      h2: t HOME.INTERFACE_TITLE
      p.font-md {{ $t('HOME.INTERFACE_CONTENT') }}
      more-btn(:href="{name: 'about'}") {{ $t('DEMO_BTN') }}
    .col-7.d-none.d-xl-block: img(src="../assets/interface.png")

  section: .container: plans
</template>

<script>
import plans from "@/components/plans";
import moreBtn from "@/components/more-btn.vue";
import vnCountries from "@/components/vnCountries";
import Paymentsystems from '@/data/paysystems.js';
import { currs } from '@/data/paysystems.js';
export default {

  name: "home",
  components: {
    plans,
    moreBtn, vnCountries
  },
  data(){
      return{
          paysystems: Paymentsystems,
          currs
      }
  }

};
</script>
