<template lang="pug">
  vn-page(title='OPEN_DEPOSIT_PAGE.TITLE')
    div
      .tabs.mb-5
        a(href='#')
          v-svg(name="net_svg" size="md").mr-3
          span Dynamic Daily
        a(href='#')
          v-svg(name="boxes_svg" size="md").mr-3
          span Profitable weekly
        a(href='#')
          v-svg(name="flag_svg" size="md").mr-3
          span Monthly pump
      .card
        .card-header
          .d-flex
            v-svg(name='net_svg').icon-lg.text-success.mr-3.mt-1
            h5.text-success Dynamic Daily
        .card-body
          .row
            .col-xl-8.col-12
              h3 {{$t('PARAMS_INVEST')}}
            .col-xl-4.col-12
              h3 {{$t('DATE_N_PROFIT')}}
          .row
            .col-xl-8.col-12
              .form-group
                .rounditem
                  .d-flex.justify-content-between.align-items-center
                    .text-primary Частота выплат
                    .btn-group.children-text-primary
                      button.btn.btn-info.active(type="button") Каждый день
                      button.btn.btn-info(type="button") Каждую неделя
                      button.btn.btn-info(type="button") Каждый месяц
              .form-group
                .rounditem
                  .text-primary.mb-2 Платежная система
                  .row: .col-sm-4.mb-2( v-for="(item, i) in payments")
                    button.btn.btn-info.btn-block.text-left(type="button")
                      .paysystem
                        .paysystem-icon.mr-2: img(:src="'/assets/payments/' + item.img ")
                        .paysystem-name {{ item.name }}
              .form-group
                vn-range(v-model='risks' min="20" max='10000' name='Сумма') %
            .col-xl-4.col-12
              .card.bg-info.h-100
                .card-body
                  .marginal-y-2
                    .roundcontainer-x.d-flex.border-secondary
                      .rounditem: vn-digit(label="PROFIT" :suffix='$t("days")' size="md"): span.text-success 1,7%
                      .rounditem: vn-digit(label="TERMS" :suffix='$t("days")' size="md"): span.text-primary {{period}}
                    vn-digit(label="Amount" suffix='CRT' size="md") {{5000 | formatMoney}}
                    vn-digit(label="Percent" suffix='%' size="md") {{100-risks}}
                    vn-digit(label="Money" suffix='CRT' size="lg"): span.text-success {{67000 | formatMoney}}
                .card-footer
                  button.btn.btn-primary {{$t('INVEST_BTN')}}
      
</template>
<script>
import Payments from "@/data/paysystems";
export default {
  data(){
    return{
        payments: Payments,
        period: 0,
        deposit: 0,
        everyday: 0,
        risks: 0,

    }
  },
};
</script>








