<template lang="pug">
vn-page(title='LOGIN.TITLE', :show_title="false")
  .row.justify-content-center.py-50
    .col-sm-8
      .card.card-lg.text-nowrap
        router-view


                
</template>


<script>
import login from "../components/panels/login.vue";
import registration from "../components/panels/registration.vue";
export default {
  components:{
    login,
    registration
  }
}
</script>



