<template lang="pug">
    vn-page(title='NEWS.TITLE')
        vn-news
</template>

<script>
    import vnNews from "@/components/vn-news.vue";
    export default {
        components: {
            vnNews
        },
    }
</script>

