<template lang="pug">
  vn-page(title='PARTNERS.TITLE')
    section: .card.card-lg.card-partnerts
      .card-body.font-md {{$t('PARTNESRS_INFO')}}
    section: .card.card-lg: .card-body.marginal-y-50
        .lead.font-weight-light {{$t('PARTNESRS_INFO2')}}
        .row(v-for="rank in ranks")
          .col-12.col-xl-8
            .d-flex
              h3.text-primary.font-weight-bold 
                v-svg(:name='rank.image+"_svg"').mr-15
                t {{ rank.name }}
            p: t {{ rank.body }}
            .d-flex(:class="{'roundcontainer-x' : (rank.bonus1 && rank.bonus2)}").pb-20
              .rounditem(v-if="rank.bonus1")
                t PARTNER_BONUS
                span
                  b.text-primary ${{ rank.bonus1 }}
                  span {{$t('TO_DEPOSIT')}}
              .rounditem(v-if="rank.bonus2") 
                span {{$t('PARTNER_BONUCE')}}
                span
                  b.text-primary ${{rank.bonus2}} 
                  t TO_ANY_WALLET
          .col-12.col-xl-4
            b.text-primary.pl-20 {{rank.invited}} 
            t COUNT_ACTIVE_PARTNERS
            .rounditem.mt-15
              b {{$t('CHARGES')}}
              span
                b.text-success {{rank.percent}}%
                span   / {{$t('from')}} 1 {{$t('LINE')}}
              span(v-if="rank.percent2")
                b.text-success {{rank.percent2}}%
                span   / {{$t('from')}} 2 {{$t('LINE')}}
              span(v-if="rank.percent3")
                b.text-success {{rank.percent3}}%
                span   / {{$t('from')}} 3 {{$t('LINE')}}
</template>

<script>
  import ranks from '../data/ranks.js';
  export default {
    data: function() {
      return {
        ranks: ranks
      }
    }
  }
</script>

<style lang="scss" scoped>
  svg {
    max-width: 2.6em;
    min-width: 1.8em;
    height: 1.8em;
  }
</style>


