<template lang="pug">
  div
    vn-page(title='PARTNERS.TITLE')
      .roundcontainer-x.d-flex.c-w-100
        .rounditem.border-3(v-for='rank in ranks')
          span.mb-2.small
            span.text-primary.font-weight-sbold {{rank.invited}} 
            span {{$t('X_USERS_LEFT')}}
          .d-flex.text-gray-300.align-items-center
            v-svg(:name='rank.image+"_svg"').mr-2.icon-sm
            span {{$t(rank.name)}}
      el-slider(v-model='greenLine' disabled).slider-mini
      
      .row.align-items-stretch
        .col-7: .card.h-100: .card-body.letter-spacing-0
          .roundcontainer-x.d-flex
            .rounditem
              .text-gray-300 {{$t('HAVE_REGISTERED')}}
              span
                b.text-primary 178 
                span {{$t('PARTNER_PROGRAM.STATUS_1.NAMES')}}
            .rounditem
              .text-gray-300 {{$t('USERS_OPEN_DEPOSIT')}}
              span
                b.text-primary 30 
                span {{$t('INVESTORS')}}
            .rounditem
              .text-gray-300 {{$t('ALL_ACCRUAL')}}
              span
                b.text-success 7,771 
                span CTR
          .font-lg.text-gray-300.my-5 {{$t('YOU_WERE_INVITED_BY')}}
          .d-flex.justify-content-between.align-items-center
            .d-flex
              .d-block: img(src="@/assets/ava.png").mr-4
              .d-block
                b.text-primary.font-lg ID54558855
                .text-gray-300 {{$t('PARTNER_PROGRAM.STATUS_1.NAME')}}
                .contacts-pic
                  .d-block
                    vn-link-contact(contact='masterbeacon@gmail.com' type='mail')
                      v-svg(name="messagefill_svg")

        .col-5: .card.h-100: .card-body
          h3 {{$t('YOUR_PARTNER_LINK')}}
          vn-range(v-model='refback' max='200' name='REFBACK')
            .badge.badge-info %
            .badge.badge-info.rounded-circle ?
          vn-copylink(link='starterico.found/baercoin')
          .font-md.pb-1 {{$t('SHARE_IT')}}
          yandex-share(:services='["vkontakte","facebook","twitter","telegram"]' description="p_item.body" title="p_item.title" lang="en" @share="shareIt")

      .card.mt-5: .card-body
        h3 {{$t('INVITED_USERS')}}
        .row.justify-content-between
          .col-md-7
            .input-group
              input.form-control
              .input-group-append
                .btn.btn-primary  {{ $t('SEARCH') }}
        vn-tree

</template>

<script>
  import vnTree from '@/components/vn-tree';
  import ranks from '../data/ranks.js';
  export default {
    data: function() {
      return {
        ranks,
        greenLine: 30,
        refback: 30,
        theLink: 'starterico.found/baercoin',
      }
    },
    components:{
      vnTree
    }
  }
</script>

<style lang="scss">
.el-tree, .is-focusable{
background: transparent!important;
}
.el-tree-node__content{
  height: auto !important;
  // flex-direction: row!important;
  // justify-content: space-between!important

}
</style>

