<template lang="pug">
  vn-page(title='PROFILE.TITLE')
    section.mb-2: .card: .card-body
      .d-flex.justify-content-between.align-items-center
        .d-flex.align-items-center
          .d-block: img(src="@/assets/ava2.png").mr-4
          .d-block
            .text-primary Владимир Серебров
            .text-gray-300 {{$t('INVESTOR')}}
        a(href="#" title="title").text-primary {{$t('LOGOUT')}}
    .row
      .col-sm-8
        .form-group.row.my-5
          .col-xl-4
            label {{$t('EMAIL')}}
          .col-xl-6 master@gmail.com
        hr
        h5 {{ $t('CHANGE_PASSWORD.TITLE') }}
        .form-group.row
          .col-sm-4
            label {{ $t('CHANGE_PASSWORD.OLD_PASSWORD') }}
          .col
            el-input#old_password
        .form-group.row
          .col-sm-4
            label {{$t('CHANGE_PASSWORD.NEW_PASSWORD')}}
          .col
            el-input#new_password
        .form-group.row
          .col-sm-4
            label {{$t('CHANGE_PASSWORD.PASSWORD_CONFIRM')}}
          .col
            el-input#password_confirm
        .text-right
          button.btn.btn-primary {{ $t('CHANGE_PASSWORD_BTN') }}
        hr
        h5 {{ $t('SECURITY_SETTINGS.TITLE') }}
        div
          el-checkbox(:label="$t('SECURITY_SETTINGS.AUTO_EXIT')")
        div
          el-checkbox(:label="$t('SECURITY_SETTINGS.MULTI_SESSIONS')")
        .text-right.mt-2
          button.btn.btn-primary {{ $t('SAVE_SETTINGS_BTN') }}
        hr
    section: .row: .col-xl-4 Аватар
      br
      span.small {{$t('INFO_ABOUT_DOWNLOAD_PIC')}}
      .d-flex.align-items-center.mt-3
        .d-block: img(src="@/assets/ava2.png").mr-4
        button.btn.btn-primary {{$t('CHOOSE_FILE')}}
</template>

<script>
  import {Api} from "../services/api";

  export default {
      data: function(){
          return {
              profile: undefined
          };
      },
      methods:{
          loadProfile(){
              Api.currentUser().then(profile => console.log(profile))
          }
      },
      mounted() {
          this.loadProfile()
      }
  }

</script>

