<template lang="pug">
  vn-page(title='SUPPORT.TITLE' :show_title="false")
    .tabs.mb-5
      a(href='#')
        span {{$t('ALL_TICKETS')}}
      a(href='#')
        span {{$t('WAITING_ANSWER')}}
      a(href='#')
        span {{$t('ANSWER_RECEIVED')}}
      a(href='#')
        span {{$t('TICKET_CLOSED')}}

    .card: .card-body
      el-table(:data='cutTable' style='width: 100%' stripe)
        el-table-column(prop='status' label='Status' width='80'): template(slot-scope='scope')
          v-svg(:name='"st_"+scope.row.status+"_svg"')  
        el-table-column(prop='topic' label='Subject' width='150')
        el-table-column(prop='message' width='500' label='Message')
        el-table-column(prop='time'  label='Time')
        el-table-column(prop='number' label='Amount')
      el-pagination.pt-20(:page-size="rowsinPage" :pager-count="5" layout="prev, pager, next, jumper" :total="tableData.length" @next-click="selectPage('switch',1)" @prev-click="selectPage('switch',-1)" @current-change="selectPage('set',$event)")
</template>
<script>
import tableData from "@/data/support";
export default {
  data() {
    return {
      tableData,
      rowsinPage: 9,
      currPage: 1,
    };
  },
  methods: {
    selectPage: function(mode, param) {
      if (mode == "switch") {
        this.currPage += param;
      } else if (mode == "set") {
        this.currPage = param;
      }
    }
  },
  computed:{
    cutTable(){
      let firstIndex = this.currPage * this.rowsinPage - this.rowsinPage
      let x = this.tableData.slice(firstIndex , firstIndex+this.rowsinPage) 
      return x
    }
  }
};
</script>

