<template lang="pug">
  vn-page(title='WALLETS.TITLE')
    .card: .card-body.py-5
      .row.form-group
        .col-2: .row.align-items-center
          .col-4: img(src="@/assets/req-bit.svg")
          .col: span Bitcoin
        .col-6
          el-input(:placeholder='Bitcoin + $t("WALLET")')
      .row.form-group
        .col-2: .row.align-items-center
          .col-4: img(src="@/assets/req-lit.svg")
          .col: span Litecoin
        .col-6
          el-input(:placeholder='Bitcoin + $t("WALLET")')
      .row.form-group
        .col-2: .row.align-items-center
          .col-4: img(src="@/assets/req-eth.svg")
          .col: span Etherium
        .col-6
          el-input(:placeholder='Bitcoin + $t("WALLET")')
      button.btn.btn-primary {{$t("SAVE_REQS")}}


      
</template>



