<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-/-output-/-normal">
        <g id="Group">
            <g id="icon-/-output-/-normal">
                //- <circle id="Oval-4" fill="currentColor" cx="12" cy="12" r="12"></circle>
                <path d="M18.4166667,7.5 L5.58333333,7.5 C5.51793264,7.5 5.5,7.51463889 5.5,7.47619048 L5.5,16.5238095 C5.5,16.4853611 5.51793264,16.5 5.58333333,16.5 L18.4166667,16.5 C18.4820674,16.5 18.5,16.4853611 18.5,16.5238095 L18.5,7.47619048 C18.5,7.51463889 18.4820674,7.5 18.4166667,7.5 Z" id="Shape" stroke="currentColor" fill-rule="nonzero"></path>
                <path d="M16.0008,13 C15.4484,13 15,12.5528 15,12.0004 C15,11.448 15.4484,11 16.0008,11 C16.5516,11 17,11.448 17,12.0004 C17,12.5528 16.5516,13 16.0008,13 Z" id="Shape" fill="currentColor" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</g>