g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#partnerss(transform='translate(-200.000000, -600.000000)')
    g#doc(transform='translate(150.000000, 498.000000)')
      g#Group-3(transform='translate(50.000000, 103.000000)')
        g#Group
          g#icons8-Dirt-Bike
            circle#Oval(fill='currentColor', fill-rule='nonzero', cx='41', cy='20', r='2')
            circle#Oval(fill='currentColor', fill-rule='nonzero', cx='9', cy='20', r='2')
            path#Shape(d='M41,20 C41,20 39.444,19.5 38.778,18.167 C38.133,16.878 31,0 31,0 L28,0', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M41,7 L34,7 C32.104,10.89 29,12 29,12 L29,18 C29,19.657 27.657,21 26,21 L25,21 L20,19 L9,21 L9,19 L19,15 L24,16 L24,10 L17,11 L10.86,8.787 L9,6', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M6,6 L23,6 L26.753,3.748 C27.569,3.259 28.503,3 29.454,3 L32.167,3', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M23.965,10.077 C23.965,10.077 26.243,12 29,12', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M18.026,15.203 L20.931,10.443', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            circle#Oval(stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', cx='9', cy='20', r='7')
            circle#Oval(stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', cx='41', cy='20', r='7')
            path#Shape(d='M33.725,21.041 L32.731,21.182 C32.619,20.394 32.62,19.594 32.735,18.805 L33.728,18.949 C33.627,19.638 33.625,20.342 33.725,21.041 Z M33.944,22.066 L32.983,22.348 C33.206,23.108 33.537,23.835 33.968,24.507 L34.807,23.969 C34.42,23.364 34.137,22.723 33.944,22.066 Z M38.641,11.989 C37.885,12.212 37.162,12.542 36.493,12.971 C35.82,13.403 35.214,13.925 34.693,14.524 L35.449,15.181 C35.899,14.664 36.424,14.198 37.031,13.81 C37.633,13.424 38.272,13.142 38.925,12.95 L38.641,11.989 Z M42.185,11.736 C41.395,11.622 40.595,11.622 39.808,11.735 L39.951,12.728 C40.65,12.628 41.353,12.629 42.043,12.728 L42.185,11.736 Z M47.19,16.034 C47.188,16.031 47.186,16.029 47.184,16.026 L48.023,15.487 C47.591,14.814 47.067,14.209 46.468,13.689 L45.812,14.446 C46.331,14.897 46.799,15.425 47.19,16.034 Z M44.97,13.82 L45.512,12.975 C44.842,12.545 44.114,12.214 43.348,11.99 L43.066,12.953 L43.065,12.953 C43.735,13.148 44.376,13.439 44.97,13.82 Z M34.822,16.022 L33.978,15.479 C33.548,16.148 33.215,16.876 32.99,17.641 L33.952,17.924 C34.148,17.256 34.44,16.616 34.822,16.022 Z M48.347,20.002 C48.346,20.704 48.245,21.401 48.048,22.072 L49.011,22.354 C49.235,21.589 49.349,20.798 49.35,20.003 L48.347,20.002 C48.347,20.002 48.347,20.002 48.347,20.002 Z M48.272,18.957 L49.266,18.815 C49.153,18.026 48.927,17.257 48.595,16.532 L47.68,16.95 C47.977,17.599 48.174,18.274 48.272,18.957 Z M46.552,24.817 L47.308,25.473 C47.83,24.871 48.263,24.198 48.594,23.471 L47.682,23.055 C47.395,23.687 47.017,24.281 46.552,24.817 Z M37.942,26.684 L37.526,27.596 C38.25,27.926 39.017,28.152 39.805,28.266 L39.949,27.273 C39.256,27.173 38.581,26.976 37.942,26.684 Z M35.443,24.807 C35.443,24.807 35.443,24.807 35.443,24.807 L34.682,25.464 C35.203,26.068 35.808,26.593 36.479,27.025 L37.022,26.18 C36.442,25.807 35.91,25.348 35.443,24.807 Z M40.993,28.3530066 C41.792,28.354 42.584,28.241 43.348,28.017 L43.066,27.056 C43.066,27.056 43.066,27.056 43.066,27.056 C42.385,27.256 41.688,27.352 40.994,27.351 L40.993,28.3530066 Z M45.807,25.554 C45.544,25.782 45.268,25.999 44.966,26.192 C44.668,26.383 44.36,26.541 44.047,26.684 L44.466,27.598 C44.823,27.435 45.172,27.244 45.504,27.031 C45.84,26.815 46.164,26.574 46.464,26.315 L45.807,25.554 Z', fill='currentColor', fill-rule='nonzero')
            path#Shape(d='M10.238,12.759 L10.408,11.77 C11.192,11.905 11.953,12.151 12.67,12.502 L12.229,13.403 C11.603,13.096 10.934,12.879 10.238,12.759 Z M9.195,12.654 L9.221,11.653 C8.429,11.632 7.636,11.725 6.864,11.929 L7.119,12.893 C7.813,12.709 8.511,12.636 9.195,12.654 Z M17.348,20.213 C17.368,19.425 17.275,18.635 17.071,17.867 C16.866,17.094 16.555,16.357 16.144,15.678 L15.287,16.196 C15.642,16.782 15.923,17.426 16.108,18.122 C16.291,18.814 16.364,19.507 16.347,20.188 L17.348,20.213 Z M16.503,23.663 C16.853,22.946 17.099,22.185 17.232,21.4 L16.243,21.231 C16.124,21.927 15.908,22.596 15.602,23.223 L16.503,23.663 Z M10.878,27.111 C10.881,27.11 10.884,27.109 10.887,27.108 L11.143,28.072 C11.916,27.866 12.652,27.554 13.331,27.142 L12.812,26.286 C12.224,26.642 11.578,26.926 10.878,27.111 Z M13.667,25.676 L14.305,26.451 C14.919,25.945 15.458,25.354 15.906,24.693 L15.076,24.13 C14.684,24.707 14.211,25.227 13.667,25.676 Z M14.679,15.341 L15.455,14.704 C14.95,14.089 14.359,13.55 13.7,13.101 L13.136,13.93 C13.711,14.322 14.231,14.796 14.679,15.341 Z M6.747,26.996 C6.079,26.78 5.447,26.47 4.868,26.077 L4.304,26.907 C4.963,27.355 5.681,27.706 6.438,27.95 L6.747,26.996 C6.747,26.996 6.747,26.996 6.747,26.996 Z M7.765,27.245 L7.596,28.234 C8.382,28.368 9.183,28.389 9.975,28.294 L9.856,27.295 C9.147,27.381 8.445,27.362 7.765,27.245 Z M2.713,23.813 L1.857,24.332 C2.27,25.013 2.778,25.631 3.369,26.169 L4.044,25.428 C3.531,24.961 3.081,24.42 2.713,23.813 Z M3.574,15.045 L2.833,14.369 C2.297,14.957 1.847,15.618 1.497,16.334 L2.398,16.775 C2.706,16.146 3.101,15.564 3.574,15.045 Z M6.126,13.241 L5.734,12.315 C4.999,12.626 4.314,13.041 3.698,13.547 L4.336,14.323 C4.868,13.885 5.469,13.52 6.126,13.241 Z M1.051,17.438 C0.805,18.198 0.67,18.987 0.65,19.783 L1.651,19.809 C1.669,19.1 1.791,18.407 2.005,17.746 L1.051,17.438 Z M2.24,22.878 C2.104,22.558 1.981,22.228 1.89,21.882 C1.8,21.54 1.744,21.198 1.703,20.857 L0.704,20.975 C0.75,21.364 0.825,21.755 0.926,22.137 C1.028,22.523 1.159,22.905 1.314,23.27 L2.24,22.878 Z', fill='currentColor', fill-rule='nonzero')