g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#home(transform='translate(-559.000000, -1251.000000)', stroke='currentColor')
    g#investments(transform='translate(150.000000, 1163.000000)')
      g#2(transform='translate(390.000000, 69.000000)')
        g#org_unit(transform='translate(20.000000, 20.000000)')
          polygon#Shape(stroke-linecap='round', stroke-linejoin='round', points='20 0 30 0 30 10 20 10 20 7.75')
          polygon#Shape(stroke-linecap='round', stroke-linejoin='round', points='0 0 10 0 10 8.0625 10 10 0 10')
          path#Shape(d='M10,5 L20,5')
          polygon#Shape(stroke-linecap='round', stroke-linejoin='round', points='20 20 22.625 20 30 20 30 30 20 30')
          polygon#Shape(stroke-linecap='round', stroke-linejoin='round', points='0 20 10 20 10 22.4375 10 30 0 30')
          path#Shape(d='M10,24 L20,24')
          path#Shape(d='M24,10 L24,20')
          path#Shape(d='M5,10 L5,20')
          path#Shape(d='M10,20 L0,30', stroke-linecap='round', stroke-linejoin='round')
          path#Shape(d='M3.5625,20.1875 L0.1875,23.5625', stroke-linecap='round', stroke-linejoin='round')
          path#Shape(d='M6.625,20.25 L0,26.875', stroke-linecap='round', stroke-linejoin='round')
          path#Shape(d='M9.6875,23.4375 L3.375,29.75', stroke-linecap='round', stroke-linejoin='round')
          path#Shape(d='M9.9375,26.3125 L6.5,29.75', stroke-linecap='round', stroke-linejoin='round')