g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#partnerss(transform='translate(-199.000000, -800.000000)', stroke='currentColor', stroke-width='2')
    g#doc(transform='translate(150.000000, 498.000000)')
      g#Group-3-Copy(transform='translate(50.000000, 298.000000)')
        g#Group(transform='translate(0.000000, 5.000000)')
          g#icons8-Bus
            path#Shape(d='M29.3333333,28.6666667 L29.3333333,30.6666667 C29.3333333,31.4026667 28.736,32 28,32 L25.3333333,32 C24.5973333,32 24,31.4026667 24,30.6666667 L24,29.3333333')
            path#Shape(d='M8,29.3333333 L8,30.6666667 C8,31.4026667 7.40266667,32 6.66666667,32 L4,32 C3.26466667,32 2.66666667,31.4026667 2.66666667,30.6666667 L2.66666667,28.6666667')
            path#Shape(d='M30,5.33333333 C30,1.89266667 29.3333333,0 26,0 L7.33333333,0 C3.33333333,0 2,1.14266667 2,4.66666667 C2,7.33333333 2,16.6126667 2,19.2306667 C2,23.078 2,26.6666667 2,26.6666667 C2,28.8746667 3.792,29.3333333 6,29.3333333 L26,29.3333333 C28.208,29.3333333 30,28.8746667 30,26.6666667 C30,26.6666667 30,23.716 30,19.2306667 C30,16.5666667 30,8 30,5.33333333 Z')
            circle#Oval(cx='25', cy='24.3333333', r='2.33333333')
            circle#Oval(cx='7', cy='24.3333333', r='2.33333333')
            path#Shape(d='M30,8 L31.3333333,8 C31.702,8 32,8.29866667 32,8.66666667 L32,14 C32,14.368 31.702,14.6666667 31.3333333,14.6666667 L30,14.6666667')
            path#Shape(d='M2,8 L0.666666667,8 C0.298666667,8 0,8.29866667 0,8.66666667 L0,14 C0,14.368 0.298666667,14.6666667 0.666666667,14.6666667 L2,14.6666667')
            path#Shape(d='M24,4 C24,4.368 23.702,4.66666667 23.3333333,4.66666667 L9.33333333,4.66666667 C8.96533333,4.66666667 8.66666667,4.368 8.66666667,4 L8.66666667,2.66666667 C8.66666667,2.29866667 8.96533333,2 9.33333333,2 L23.3333333,2 C23.702,2 24,2.29866667 24,2.66666667 L24,4 Z')
            path#Shape(d='M25.3333333,18.6146667 L6.66666667,18.6666667 C5.33333333,18.6666667 4.66666667,18 4.66666667,16.6666667 C4.66666667,14.6666667 4.66666667,10.7606667 4.66666667,8.66666667 C4.66666667,7.33333333 5.33333333,6.66666667 6.66666667,6.66666667 C12.6666667,6.66666667 17.142,6.66666667 25.3333333,6.66666667 C26.6666667,6.66666667 27.3333333,7.33333333 27.3333333,8.66666667 C27.3333333,10 27.3333333,15.9846667 27.3333333,16.6666667 C27.3333333,18 26.0313333,18.6146667 25.3333333,18.6146667 Z')