<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="dashboard" transform="translate(-190.000000, -728.000000)">
        <g id="invested" transform="translate(150.000000, 510.000000)">
            <g id="general" transform="translate(20.000000, 80.000000)">
                <g id="info" transform="translate(20.000000, 46.000000)">
                    <g id="2" transform="translate(0.000000, 86.000000)">
                        <g id="calendar" transform="translate(0.000000, 6.000000)">
                            <path d="M2,1.5 L0.727272727,1.5 C0.602272727,1.5 0.5,1.55166667 0.5,1.68857143 L0.5,11.2719048 C0.5,11.4088095 0.583409091,11.5 0.708409091,11.5 L10.2918182,11.5 C10.4165909,11.5 10.5,11.4088095 10.5,11.2719048 L10.5,1.68857143 C10.5,1.55166667 10.3977273,1.5 10.2727273,1.5 L9,1.5" id="Shape" stroke="currentColor" stroke-linejoin="round"></path>
                            <rect id="Rectangle-9" fill="currentColor" x="2" y="0" width="1" height="3" rx="0.5"></rect>
                            <rect id="Rectangle-9-Copy" fill="currentColor" x="8" y="0" width="1" height="3" rx="0.5"></rect>
                            <rect id="Rectangle-9-Copy-2" fill="currentColor" x="3" y="1" width="5" height="1"></rect>
                            <path d="M1,4.5 L11,4.5" id="Shape" stroke="currentColor" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>