g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#partnerss(transform='translate(-199.000000, -978.000000)', stroke='currentColor', stroke-width='2')
    g#doc(transform='translate(150.000000, 498.000000)')
      g#Group-3-Copy-2(transform='translate(50.000000, 481.000000)')
        g#Group
          g#icons8-Car
            path#Shape(d='M42,25 L42,30 C42,31.104 41.104,32 40,32 L36,32 C34.897,32 34,31.104 34,30 L34,28')
            path#Shape(d='M12,28 L12,30 C12,31.104 11.104,32 10,32 L6,32 C4.897,32 4,31.104 4,30 L4,25')
            path#Shape(d='M33,18 C33.904,18 36.245,18 37,18 C38.104,18 39,18.895 39,20 C39,21.307 38.081,21.927 36.92,22.584 C35.187,23.567 34.676,24 33,24 C31.344,24 30,22.658 30,21 C30,19.342 31.344,18 33,18 Z', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M13,18 C12.096,18 9.755,18 9,18 C7.896,18 7,18.895 7,20 C7,21.307 7.919,21.927 9.08,22.584 C10.813,23.567 11.324,24 13,24 C14.656,24 16,22.658 16,21 C16,19.342 14.656,18 13,18 Z', stroke-linecap='round', stroke-linejoin='round')
            path#Shape(d='M5.9,28 C4.853,28 4,27.166 4,26.143 L4,18.171 C4,18.171 8.901,5.086 9.571,3.785 C10.384,2.207 12.429,1.5 13.9,1 C13.9,1 16,0 23,0 C30,0 32.1,1 32.1,1 C33.357,1.357 35.643,2.089 36.357,3.714 C37.171,5.568 42,18.171 42,18.171 L42,26.143 C42,27.166 41.147,28 40.1,28 L5.9,28 Z')
            path#Shape(d='M7.156,10 C6.734,11.078 4.812,15 11,15 C13,15 33,15 35,15 C41.188,15 39.266,11.078 38.844,10')
            path#Shape(d='M6.468,11 L3.099,11 C0.527,11 0,12.532 0,13.588 C0,14.645 0.787,15 2.083,15 L4.854,15')
            path#Shape(d='M39.532,11 L42.901,11 C45.473,11 46,12.532 46,13.588 C46,14.645 45.213,15 43.917,15 L41.146,15')