<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="dashboard" transform="translate(-189.000000, -853.000000)" stroke="#F7C972">
        <g id="invested" transform="translate(150.000000, 510.000000)">
            <g id="general" transform="translate(20.000000, 80.000000)">
                <g id="info" transform="translate(20.000000, 46.000000)">
                    <g id="4" transform="translate(0.000000, 212.000000)">
                        <g id="pie_chart" transform="translate(5.000000, 11.000000) scale(-1, 1) translate(-5.000000, -11.000000) translate(0.000000, 6.000000)">
                            <path d="M4.33642857,0.0435714286 C4.55357143,0.0147619048 4.775,0 5,0 C7.76142857,0 10,2.23857143 10,5 C10,7.76142857 7.76142857,10 5,10 C2.23857143,10 0,7.76142857 0,5 C0,4.76285714 0.0164285714,4.52952381 0.0483333333,4.30142857" id="Shape"></path>
                            <path d="M5,5 L0,5 C0,2.23857143 2.23857143,0 5,0 L5,5 Z" id="Shape" fill="#F7C972" stroke-linecap="round"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>