<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-/-buy-tocen-/-normal">
        <g id="Group">
            <g id="icon-/-buy-tocen-/-normal">
                //- <circle id="Oval-4" fill="currentColor" cx="12" cy="12" r="12"></circle>
                <path d="M12,17 L12,7" id="Line-2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7,12 L17,12" id="Line-2-Copy" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</g>