g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#home(transform='translate(-949.000000, -1251.000000)', stroke='currentColor')
    g#investments(transform='translate(150.000000, 1163.000000)')
      g#3(transform='translate(780.000000, 69.000000)')
        g#mission_of_a_company(transform='translate(20.000000, 20.000000)')
          polyline#Shape(stroke-linecap='round', stroke-linejoin='round', points='35.1219512 30 17.5609756 12.4390244 0 30')
          polyline#Shape(points='8.7804878 21.9512195 11.7073171 23.4146341 14.6341463 21.2195122 17.5609756 23.4146341 20.4878049 21.2195122 23.4146341 23.4146341 26.3414634 21.9512195')
          polyline#Shape(stroke-linecap='round', stroke-linejoin='round', points='35.1219512 22.6829268 28.5365854 16.097561 24.8780488 19.7560976')
          polyline#Shape(stroke-linecap='round', stroke-linejoin='round', points='0 22.6829268 6.58536585 16.097561 10.2439024 19.7560976')
          polyline#Shape(stroke-linecap='round', stroke-linejoin='round', points='17.5609756 12.4390244 17.5609756 0 24.1463415 3.02634146 17.5609756 5.62097561')