g
  g
    path(fill="currentColor" d='M233.582,265.452h-30.2c-4.879,0-8.833,3.955-8.833,8.833c0,4.878,3.954,8.833,8.833,8.833h30.2\
    c4.88,0,8.833-3.955,8.833-8.833C242.415,269.407,238.461,265.452,233.582,265.452z')
g
  g
    path(fill="currentColor" d='M413.841,25.645H283.539V8.833c0-2.744-1.276-5.333-3.452-7.004c-2.178-1.672-5.007-2.239-7.658-1.53L95.883,47.378\
    c-3.867,1.031-6.557,4.533-6.557,8.535v28.531c0,4.878,3.954,8.833,8.833,8.833s8.833-3.955,8.833-8.833V62.7l158.88-42.369\
    v472.061l-158.88-31.776v-346.4c0-4.878-3.954-8.833-8.833-8.833c-4.879,0-8.833,3.955-8.833,8.833v353.642\
    c0,4.211,2.971,7.836,7.101,8.661l176.546,35.31c0.575,0.115,1.154,0.172,1.732,0.172c2.025,0,4.007-0.696,5.6-2.002\
    c2.046-1.678,3.233-4.185,3.233-6.831v-16.81h81.405c4.88,0,8.833-3.955,8.833-8.833c0-4.878-3.954-8.833-8.833-8.833h-81.405\
    v-25.203h87.431c4.88,0,8.833-3.955,8.833-8.833V77.348c0-4.878-3.954-8.833-8.833-8.833h-87.431V43.311h121.468v425.377h-12.602\
    c-4.88,0-8.833,3.955-8.833,8.833s3.954,8.833,8.833,8.833h21.435c4.88,0,8.833-3.955,8.833-8.833V34.478\
    C422.674,29.6,418.719,25.645,413.841,25.645z M362.137,86.181V425.82h-78.597V86.181H362.137z')