<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-/-transactions-/-normal">
        <g id="Group">
            <g id="icon-/-transactions-/-normal">
                //- <circle id="Oval-4" fill="currentColor"cx="12" cy="12" r="12"></circle>
                <rect id="Rectangle-3" fill="currentColor" x="6" y="7" width="2" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy" fill="currentColor" x="10" y="7" width="8" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-9" fill="currentColor" x="6" y="10" width="2" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-8" fill="currentColor" x="10" y="10" width="8" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-11" fill="currentColor" x="6" y="13" width="2" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-10" fill="currentColor" x="10" y="13" width="8" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-13" fill="currentColor" x="6" y="16" width="2" height="1" rx="0.5"></rect>
                <rect id="Rectangle-3-Copy-12" fill="currentColor" x="10" y="16" width="8" height="1" rx="0.5"></rect>
            </g>
        </g>
    </g>
</g>