<defs>
    <filter x="-42.0%" y="-38.0%" width="184.0%" height="184.0%" filterUnits="objectBoundingBox" id="filter-1">
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feMerge>
            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
    </filter>
    <circle id="path-2" cx="25" cy="25" r="25"></circle>
    <filter x="-42.0%" y="-42.0%" width="184.0%" height="184.0%" filterUnits="objectBoundingBox" id="filter-3">
        <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="6.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
    </filter>
</defs>
<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="investments" transform="translate(-299.000000, -1067.000000)">
        <g transform="translate(150.000000, 164.000000)" id="chart">
            <g transform="translate(15.000000, 753.000000)">
                <g id="logo" filter="url(#filter-1)" transform="translate(150.000000, 164.000000)">
                    <g id="Oval">
                        <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
                        <use fill="#000000" fill-rule="evenodd" xlink:href="#path-2"></use>
                    </g>
                    <rect id="Rectangle-2-Copy" fill="#000000" transform="translate(25.000000, 25.000000) rotate(45.000000) translate(-25.000000, -25.000000) " x="23.3333333" y="-6.66666667" width="3.33333333" height="63.3333333"></rect>
                </g>
            </g>
        </g>
    </g>
</g>