<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="partners" transform="translate(-548.000000, -651.000000)" fill="currentColor" fill-rule="nonzero">
        <g id="1" transform="translate(150.000000, 364.000000)">
            <g id="Group-2" transform="translate(398.000000, 219.000000)">
                <g id="email" transform="translate(0.000000, 64.000000)">
                    <g id="icons8-Mail-Filled" transform="translate(0.000000, 4.000000)">
                        <path d="M0,0 L0,15 L20.8333333,15 L20.8333333,0 L0,0 Z M19.1666667,3.8639325 L10.4166667,8.82487 L1.66666667,3.8639325 L1.66666667,2.88085958 L10.4166667,7.84179708 L19.1666667,2.88085958 L19.1666667,3.8639325 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>