g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#home(transform='translate(-169.000000, -1251.000000)')
    g#investments(transform='translate(150.000000, 1163.000000)')
      g#1(transform='translate(0.000000, 69.000000)')
        g#sales_channels(transform='translate(20.000000, 20.000000)')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='13.5714286', cy='1.42857143', r='1.42857143')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='1.42857143', cy='7.85714286', r='1.42857143')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='13.5714286', cy='28.5714286', r='1.42857143')
          path#Shape(d='M12.1428571,12 L15,12', stroke='currentColor', stroke-linecap='round')
          rect#Rectangle-path(stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', x='7.85714286', y='10', width='11.4285714', height='10')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='25.7142857', cy='7.85714286', r='1.42857143')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='1.42857143', cy='22.1428571', r='1.42857143')
          circle#Oval(stroke='currentColor', stroke-linecap='round', cx='25.7142857', cy='22.1428571', r='1.42857143')
          g#Group(transform='translate(1.428571, 2.142857)', fill='currentColor', fill-rule='nonzero')
            path#Shape(d='M0.939285714,7.27214286 L4.28571429,9.18785714 L4.28571429,7.85714286 C4.28571429,7.755 4.30214286,7.65642857 4.31571429,7.55785714 L1.64928571,6.03142857 C1.30714286,5.83571429 0.87,5.95428571 0.674285714,6.29642857 C0.478571429,6.63928571 0.597142857,7.07571429 0.939285714,7.27214286 Z')
            path#Shape(d='M12.8571429,5.71428571 L12.8571429,0.714285714 C12.8571429,0.319285714 12.5371429,0 12.1428571,0 C11.7485714,0 11.4285714,0.319285714 11.4285714,0.714285714 L11.4285714,5.71428571 L12.8571429,5.71428571 Z')
            path#Shape(d='M20,7.85714286 L20,9.18785714 L23.3464286,7.27214286 C23.6885714,7.07642857 23.8071429,6.63928571 23.6114286,6.29714286 C23.4157143,5.955 22.9792857,5.83571429 22.6364286,6.03214286 L19.97,7.55857143 C19.9835714,7.65642857 20,7.755 20,7.85714286 Z')
            path#Shape(d='M23.3464286,18.4421429 L20,16.5264286 L20,17.8571429 C20,17.9592857 19.9835714,18.0578571 19.97,18.1564286 L22.6364286,19.6828571 C22.7485714,19.7471429 22.8707143,19.7771429 22.9907143,19.7771429 C23.2385714,19.7771429 23.4792857,19.6478571 23.6114286,19.4178571 C23.8071429,19.075 23.6885714,18.6385714 23.3464286,18.4421429 Z')
            path#Shape(d='M4.28571429,17.8571429 L4.28571429,16.5264286 L0.939285714,18.4421429 C0.597142857,18.6378571 0.478571429,19.075 0.674285714,19.4171429 C0.806428571,19.6471429 1.04714286,19.7764286 1.295,19.7764286 C1.415,19.7764286 1.53714286,19.7464286 1.64928571,19.6821429 L4.31571429,18.1557143 C4.30214286,18.0578571 4.28571429,17.9592857 4.28571429,17.8571429 Z')
            path#Shape(d='M11.4285714,20 L11.4285714,25 C11.4285714,25.395 11.7485714,25.7142857 12.1428571,25.7142857 C12.5371429,25.7142857 12.8571429,25.395 12.8571429,25 L12.8571429,20 L11.4285714,20 Z')