<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-/-partners-/-normal">
        <g id="Group">
            <g id="icon-/-partners-/-normal">
                //- <circle id="Oval-4" fill="currentColor" cx="12" cy="12" r="12"></circle>
                <path d="M7,12.9986292 L18,12.0013708" id="Line-3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <circle id="Oval-2" fill="currentColor" cx="12" cy="8" r="1"></circle>
                <circle id="Oval-2-Copy" fill="currentColor" cx="12" cy="16" r="1"></circle>
            </g>
        </g>
    </g>
</g>