<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="partners" transform="translate(-590.000000, -587.000000)" fill="currentColor" fill-rule="nonzero">
        <g id="1" transform="translate(150.000000, 364.000000)">
            <g id="Group-2" transform="translate(398.000000, 219.000000)">
                <g id="phone" transform="translate(42.000000, 0.000000)">
                    <g id="icons8-Phone-Filled" transform="translate(0.000000, 4.000000)">
                        <path d="M12.0104167,15 C9.48958333,14.9179687 6.55468767,12.4895833 4.532552,10.466146 C2.50781267,8.44270833 0.079427,5.50651033 0.001302,3.013021 C-0.0273436667,2.138021 2.11979167,0.582031333 2.141927,0.566406333 C2.69921867,0.178385333 3.31770833,0.316406333 3.57161467,0.667968667 C3.74348967,0.90625 5.37109367,3.372396 5.548177,3.65234367 C5.731771,3.94270833 5.704427,4.375 5.47526033,4.80859367 C5.34895833,5.04947933 4.92968767,5.78645833 4.733073,6.13020833 C4.94531267,6.43229167 5.50651033,7.173177 6.66536467,8.33203133 C7.825521,9.49088533 8.56510433,10.0533853 8.86848967,10.265625 C9.21223967,10.0690103 9.94921867,9.64973967 10.1901043,9.52343767 C10.6171877,9.296875 11.046875,9.26822933 11.3398437,9.44791667 C11.639323,9.63151033 14.0989583,11.266927 14.325521,11.4244793 C14.515625,11.5585937 14.638021,11.7877603 14.6627603,12.0546877 C14.686198,12.3242187 14.6028647,12.609375 14.4296877,12.858073 C14.4153647,12.8789063 12.8776043,15 12.0104167,15 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>