g#Symbols(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
  g(id="icon-/-dashboard-/-normal")
    g#Group
      g(id="icon-/-dashboard-/-normal")
        //- circle#Oval-4-Copy(fill="currentColor" cx="12" cy="12" r="12")
        rect#Rectangle-2(fill="currentColor" x="14" y="6" width="1" height="3" rx="0.5")
        rect#Rectangle-3(fill="currentColor" x="5" y="7" width="8" height="1" rx="0.5")
        rect#Rectangle-3-Copy(fill="currentColor" x="16" y="7" width="3" height="1" rx="0.5")
        rect#Rectangle-2-Copy-3(fill="currentColor" x="14" y="15" width="1" height="3" rx="0.5")
        rect#Rectangle-3-Copy-5(fill="currentColor" x="5" y="16" width="8" height="1" rx="0.5")
        rect#Rectangle-3-Copy-4(fill="currentColor" x="16" y="16" width="3" height="1" rx="0.5")
        rect#Rectangle-2-Copy-2(fill="currentColor" x="9" y="10" width="1" height="4" rx="0.5")
        rect#Rectangle-3-Copy-3(fill="currentColor" x="11" y="11" width="8" height="1" rx="0.5")
        rect#Rectangle-3-Copy-2(fill="currentColor" x="5" y="12" width="3" height="1" rx="0.5")
