<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="partners" transform="translate(-645.000000, -619.000000)" fill="currentColor" fill-rule="nonzero">
        <g id="1" transform="translate(150.000000, 364.000000)">
            <g id="Group-2" transform="translate(398.000000, 219.000000)">
                <g id="skype" transform="translate(97.000000, 32.000000)">
                    <g id="icons8-Skype-Filled" transform="translate(0.000000, 4.000000)">
                        <path d="M4.284375,0 C1.9230468,0 0,1.8972657 0,4.228125 C0,4.9429689 0.1863282,5.6402343 0.534375,6.2625 C0.4523439,6.69375 0.4125,7.1378907 0.4125,7.575 C0.4125,11.475 3.6222657,14.64375 7.575,14.64375 C7.9804689,14.64375 8.3859375,14.6167968 8.784375,14.55 C9.3773439,14.8464843 10.0441407,15 10.715625,15 C13.0769532,15 15,13.1027343 15,10.771875 C15,10.1460939 14.8617189,9.5484375 14.596875,8.990625 C14.6929689,8.5300782 14.746875,8.0542968 14.746875,7.575 C14.746875,3.6761718 11.5277343,0.50625 7.575,0.50625 C7.2035157,0.50625 6.8285157,0.534375 6.459375,0.590625 C5.8007814,0.2050782 5.0542968,0 4.284375,0 Z M7.528125,2.8125 C8.1421875,2.8125 8.6800782,2.8792968 9.13125,3.01875 C9.5835939,3.1570314 9.9667968,3.3410157 10.265625,3.571875 C10.5679689,3.8050782 10.7988282,4.0535157 10.940625,4.3125 C11.0835939,4.5738282 11.15625,4.8398439 11.15625,5.090625 C11.15625,5.3332032 11.053125,5.5453125 10.865625,5.7375 C10.678125,5.9296875 10.4425782,6.028125 10.1625,6.028125 C9.9082032,6.028125 9.7101564,5.9695314 9.571875,5.85 C9.4429689,5.7375 9.3070314,5.5664064 9.159375,5.315625 C8.9882814,4.9945314 8.7878907,4.7332032 8.55,4.55625 C8.3191407,4.3839843 7.9265625,4.303125 7.396875,4.303125 C6.9046875,4.303125 6.5027343,4.3921875 6.20625,4.584375 C5.9191407,4.7695314 5.784375,4.9886718 5.784375,5.240625 C5.784375,5.3953125 5.8324218,5.5230468 5.925,5.634375 C6.0234375,5.7515625 6.1535157,5.8488282 6.328125,5.934375 C6.5085939,6.0234375 6.6949218,6.0996093 6.88125,6.15 C7.0722657,6.2015625 7.3980468,6.2835939 7.8375,6.384375 C8.3929689,6.5027343 8.9039064,6.6269532 9.35625,6.76875 C9.8132814,6.9140625 10.2058593,7.0957032 10.528125,7.303125 C10.85625,7.5140625 11.1210939,7.7847657 11.30625,8.109375 C11.4914064,8.4339843 11.578125,8.8324218 11.578125,9.3 C11.5769532,9.8578125 11.4199218,10.3640625 11.1,10.809375 C10.78125,11.2535157 10.3113282,11.6109375 9.703125,11.859375 C9.1007814,12.1054689 8.3777343,12.225 7.55625,12.225 C6.5695314,12.225 5.7445314,12.0574218 5.1,11.71875 C4.6382814,11.4738282 4.2527343,11.1351564 3.965625,10.725 C3.6726564,10.3101564 3.525,9.9035157 3.525,9.50625 C3.525,9.2589843 3.6257814,9.0457032 3.815625,8.86875 C4.0042968,8.6953125 4.2410157,8.60625 4.528125,8.60625 C4.7636718,8.60625 4.9722657,8.6742189 5.1375,8.8125 C5.296875,8.9449218 5.4316407,9.1417968 5.540625,9.39375 C5.6625,9.6691407 5.7925782,9.8941407 5.934375,10.078125 C6.0679689,10.2527343 6.2589843,10.4039064 6.50625,10.51875 C6.7546875,10.6359375 7.0957032,10.696875 7.509375,10.696875 C8.0777343,10.696875 8.5382814,10.5761718 8.8875,10.340625 C9.2296875,10.1109375 9.403125,9.8355468 9.403125,9.496875 C9.403125,9.2296875 9.309375,9.0140625 9.13125,8.85 C8.94375,8.6777343 8.6976564,8.5476564 8.4,8.45625 C8.0871093,8.3613282 7.6675782,8.2558593 7.14375,8.146875 C6.43125,7.9957032 5.8253907,7.8140625 5.34375,7.6125 C4.8503907,7.4050782 4.453125,7.1167968 4.1625,6.759375 C3.8671875,6.3949218 3.7125,5.9460939 3.7125,5.409375 C3.7125,4.8972657 3.8707032,4.4285157 4.18125,4.03125 C4.4871093,3.6375 4.9347657,3.3316407 5.5125,3.121875 C6.0820314,2.9132814 6.7617189,2.8125 7.528125,2.8125 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>