g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#helpdesk(transform='translate(-217.000000, -749.000000)', stroke='currentColor')
    g#investments(transform='translate(150.000000, 314.000000)')
      g#1-copy-6(transform='translate(30.000000, 409.000000)')
        g#message(transform='translate(38.000000, 27.000000)')
          rect#Rectangle-path(stroke-width='0.833333333', stroke-linecap='round', x='0', y='0', width='20', height='14')
          path#Shape(d='M13,7 L19,12', stroke-width='0.833333333')
          path#Shape(d='M0,12 L7,7', stroke-width='0.833333333')
          path#Shape(d='M0,2 C0,2 7.70196735,8.77130944 8.32942654,9.32232016 C8.95688573,9.87333087 9.6102972,10 10,10 C10.3897028,10 11.0431143,9.8737531 11.6705735,9.32274239 C12.2980326,8.77173167 20,2.00042223 20,2.00042223', stroke-width='0.831625')