
g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#helpdesk(transform='translate(-217.000000, -610.000000)', stroke='currentColor', stroke-width='0.952380952')
    g#investments(transform='translate(150.000000, 314.000000)')
      g#1-copy-3(transform='translate(30.000000, 273.000000)')
        g#ok(transform='translate(38.000000, 24.000000)')
          circle#Oval(cx='10', cy='10', r='10')
          polyline#Shape(points='5 10.3 8.72727273 14 14 5')