g#UI(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
  g#helpdesk(transform='translate(-217.000000, -678.000000)')
    g#investments(transform='translate(150.000000, 314.000000)')
      g#1-copy-4(transform='translate(30.000000, 341.000000)')
        g#timer(transform='translate(38.000000, 24.000000)')
          path#Shape(d='M10,3.75 L10,0 C15.5233333,0 20,4.47708333 20,10 C20,15.5233333 15.5233333,20 10,20 C4.47666667,20 0,15.5233333 0,10 C0,7.24 1.11833333,4.74083333 2.92583333,2.93125', stroke='currentColor', stroke-width='0.833333333', stroke-linecap='round')
          path#Shape(d='M10.6605741,10.6607325 C10.2083923,11.1128961 9.47509332,11.1132822 9.02252542,10.6607325 C8.56995752,10.2081828 5,5 5,5 C5,5 10.2080062,8.56981392 10.6605741,9.02236362 C11.113142,9.47491331 11.113142,10.208569 10.6605741,10.6607325 Z', fill='currentColor', fill-rule='nonzero')