<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-/-investments-/-normal">
        <g id="Group">
            <g id="icon-/-investments-/-normal">
                //- <circle id="Oval-4" fill="currentColor" cx="12" cy="12" r="12"></circle>
                <path d="M7.5,13.5 L7.5,17.5" id="Line-Copy-7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.5,10.5 L10.5,17.5" id="Line-Copy-8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13.5,8.5 L13.5,17.5" id="Line-Copy-9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M16.5,6.5 L16.5,17.5" id="Line-Copy-10" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </g>
</g>