<g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="partners" transform="translate(-615.000000, -587.000000)" fill="currentColor" fill-rule="nonzero">
        <g id="1" transform="translate(150.000000, 364.000000)">
            <g id="Group-2" transform="translate(398.000000, 219.000000)">
                <g id="phone" transform="translate(42.000000, 0.000000)">
                    <g id="icons8-Sent-Filled" transform="translate(25.000000, 4.000000)">
                        <path d="M14.4419643,0.0558035714 L0.212053571,6.171875 C0.0851003571,6.22628357 0.00418535714,6.35602679 4.62791697e-16,6.49553571 C-0.00418535714,6.63504464 0.07673,6.7564175 0.200892857,6.81919643 L5.17857143,9.30803571 L14.4419643,0.0558035714 Z M14.9441964,0.558035714 L5.69196429,9.82142857 L8.18080357,14.7991071 C8.2421875,14.92048 8.36914071,15 8.50446429,15 L8.515625,15 C8.65513393,14.9958146 8.77232143,14.9148996 8.828125,14.7879464 L14.9441964,0.558035714 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</g>