<template lang="pug">
  vnChar(:items="items")
</template>

<script>
    import vnChar from "@/components/vnChar";
    export default {
        components: {
            vnChar
        },
        props: {
            countries: {
                type: Array, default: () => [],
            }
        },
        computed:{
            items(){
                return this.countries.map(item =>({
                    value: item.percent,
                    name: item.name,
                    color: item.color,
                }))
            }
        }

    }
</script>
