<template lang="pug">
  vn-page(title="STATS_PAGE.TITLE")
    statsPlan

</template>
<script>
  import statsPlan from '@/components/stats/statsPlan';
  export default {
      components:{
          statsPlan
      }
  }
</script>
