<template lang="pug">
    include index
</template>


<script>
    import vnTable from "@/components/vn-table.vue";
    import transactions from '@/data/tranzactions.js';
    import dashMenu from '@/data/menus/dashboard-menu.js';
    import moreBtn from '@/components/more-btn'
    import plans from '@/components/plans'
    import offerOfDay from '@/components/offerOfDay'
    export default {
        data(){
            return{
                dashMenu,
                transactions,
            }
        },
        components:{
            moreBtn, vnTable, plans, offerOfDay
        },
    }

</script>
