vn-page(title='DASHBOARD.TITLE')
  .card.bg-info: .card-body
    .row.justify-content-between
      .col-xl-6.col-12: span.small {{$t('SECURY_NOTICE')}}
      .col-auto
        .label {{$t('EMAIL')}}
        a(href='#').value bea**in@****.com
  .row.no-gutters.position-relative.mt-5.marginal-y-2.marginal-xl-y-0
    .col-12.col-xl-7: .card.purplecard: .card-body
      h5 {{ $t('EARNED_MONEY') }}
      .row.mb-4
        .col-sm-4

          vn-digit(:label="Balance" suffix='BTC' size="lg")
            img.mr-2.align-top(src='@/assets/req-bit.svg')
            | {{0.156600 | formatMoney}}

        .col-sm-4
          vn-digit(:label="Balance" suffix='LTC' size="lg")
            img.mr-2.align-top(src='@/assets/req-lit.svg')
            | {{0.156600 | formatMoney}}
        .col-sm-4
          vn-digit(:label="Balance" suffix='LTC' size="lg")
            img.mr-2.align-top(src='@/assets/req-per.svg')
            | {{0.156600 | formatMoney}}
        .col-sm-4
          vn-digit(:label="Balance" suffix='LTC' size="lg")
            img.mr-2.align-top(src='@/assets/req-pay.svg')
            | {{0.156600 | formatMoney}}
        .col-sm-4
          vn-digit(:label="Balance" suffix='LTC' size="lg")
            img.mr-2.align-top(src='@/assets/req-eth.svg')
            | {{0.156600 | formatMoney}}
      vn-menu(:links="dashMenu" hover="primary" between reverse)
    .pupleline-hider
    .col: .card.purplecard: .card-body
      more-btn(:href="{name: 'about'}") {{ $t('RECENT_TRANSACTIONS') }}
      vn-table(:data='[transactions[transactions.length-3],transactions[transactions.length-2],transactions[transactions.length-1]]')
    img(src="@/assets/purpleline.png").purpleline
  hr
  offerOfDay
  hr
  plans
