<template lang="pug">
    include index.pug
</template>


<script>
    import depositsItem from '../depositsItem';
    export default {
        components:{
            depositsItem
        },
        props:{
            deposits: { type: Array, default: () => [] }
        }
    }
</script>
