<template lang="pug">
      v-chart(:options="picbar" )  
</template>
<script>
import ECharts from "vue-echarts/components/ECharts";
import echarts from "echarts/lib/echarts";
import "echarts/lib/chart/pictorialBar";
import "echarts/lib/chart/bar";
import "echarts/lib/chart/line";

var category = [];
var dottedBase = +new Date();
var lineData =  [
    [1, 4862],
    [2, 5294],
    [3, 6934],
    [4, 7171],
    [5, 8964],
    [6, 10202],
    [7, 11962],
    [8, 13928],
    [9, 16909],
    [10, 18547],
    [11, 21617],
    [12, 26638],
    [13, 34634],
    [14, 46759],
    [15, 58478],
    [16, 67884],
    [17, 74462],
    [18, 79395],
    [19, 87884],
    [20, 94462],
    [21, 109395],
    [22, 119395],
];
var lineData2 =  [
    [23, 129395],
    [24, 139395],
    [25, 149395],
    [26, 159395],
    [27, 169395],
    [28, 179395],
    [29, 189395],
    [30, 199395],
];

for (var i = 0; i < 10; i++) {
  var date = new Date((dottedBase += 3600 * 24 * 1000));
  category.push(
    [date.getFullYear(), date.getMonth() + 1, date.getDate()].join("-")
  );
//   // var b = Math.random() * 200;
//   var b = i * 10;
//   var c = 100 + i * 10;
//   barData.push(b);
//   lineData.push(b);
//   lineData2.push(c);
}

export default {
  components: {
    "v-chart": ECharts
  },
  data: function() {
    return {
      picbar: {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow"
          }
        },
        legend: {
          data: ["line", "bar"],
          textStyle: {
            color: "#949FA7"
          }
        },
        xAxis: {
          splitLine: {
            show: false,
            lineStyle: {
              type: "dotted",
              color: "#949FA7"
            }
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: "#949FA7"
            }
          }
        },
        yAxis: {
          splitLine: {
            show: true,
            lineStyle: {
              type: "dotted",
              color: "rgba(255,255,255,.2)",

            }
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: "#949FA7"
            }
          }
        },
        series: [
          {
            name: "line",
            type: "line",
            smooth: true,
            // showAllSymbol: true,
            symbol: "circle",
            symbolSize: 10,
            data: lineData,
            itemStyle: {
              normal: {
                barBorderRadius: 5,
                color: "#51C458",
              
              }
            },

          },
          {
            name: "line2",
            type: "line",
            smooth: true,
            showAllSymbol: true,
            symbol: "circle",
            symbolSize: 10,
            data: lineData2,
            itemStyle: {
              normal: {
                barColor: "blue",
                barBorderRadius: 5,
                color: "#39415A"
              }
            },
            lineStyle: {
              width: 0
            }
          },
          {
            name: "bar",
            type: "bar",
            barWidth: 10,
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#3AA141" },
                  { offset: 1, color: "#223A3D" }
                ])
              }
            },
            data: lineData
          }
        ]
      }
    };
  }
};
</script>
