<template lang="pug">
  router-link(:to="href").text-primary
    slot
    img(src="../assets/arrow.svg").img
</template>
<script>
export default {
  props:{
    href:{
      default: "#",
    }

  }
}
</script>
<style lang="scss" scoped>
  .img{
    margin-left: 1rem
  }
</style>


