<template lang="pug">
.page
  slot(name='pagetop')
  .page-middle
    div(:class="fillwidth ? '' : 'container'")
      h1(v-if='show_title == true').pt-5 {{ $t(title) }}
      main.content
        slot
</template>

<script>

  export default{
    props:{
      title:{ type: String},
      show_title: { type:Boolean, default: true },
      fillwidth:{ type:Boolean, default: false },
    },

  }

</script>