<template lang="pug">
    img.smile(:src="'/assets/smiles/ver2/'+ name + '.svg'")
</template>

<script>
export default {

  props: {
    name: { type: String, default: "" },
  },
};
</script>

<style>
  .smile{
    height: 1em;
    width: 1em;
  }
  * + .smile{
    margin-left: .2em;
  }
</style>
