<template lang="pug">
  span: slot
</template>

<script>
export default {
  methods:{
    translate(){
      this.$el.innerHTML = this.$t(this.$el.innerText);
    }
  },
  updated(){
    this.translate();
  },
  mounted(){
    this.translate();
  }
}
</script>


