<template lang="pug">
  span: slot
</template>

<script>
export default {
  updated(){
    this.$el.innerHTML = this.$t(this.$el.innerText);
  }
}
</script>




  //- <span v-html="$t(text)"></span>

