<template lang="pug">
.justify-content-around.w-100.small.d-flex.order-3.order-xl-2.mb-3.mb-xl-0
  t BALANCE
  .marginal-x-2.d-flex.align-items-center(v-for='item in balance.slice(0,itemsInStatus)' :key='item.prefix')
    b {{item.count}}
    b.text-uppercase {{item.prefix}}
    img(:src="require('@/assets/req-'+item.prefix+'.svg')").icon-sm
  el-dropdown(v-if='balance[itemsInStatus]')
    span.text-primary.cursor-pointer.outline-0
      span.py-1.px-2.mr-1.bg-thirdly.rounded-circle {{balance.length - itemsInStatus}}
      i.el-icon-more
    el-dropdown-menu(slot='dropdown')
      el-dropdown-item(v-for='item in balance.slice(itemsInStatus)' :key='item.prefix'): .marginal-x-1
        b {{item.count}}
        b.text-uppercase {{item.prefix}}
        img(:src="require('@/assets/req-'+item.prefix+'.svg')").icon-sm
</template>
<script>


export default {
  data() {
    return {
      windowWidth: null
    };
  },
  props:{
    balance:{
      type: Array
    }
  },

  computed:{
    itemsInStatus(){
      let breackpoints = {
        340: 1,
        470: 2,
        700: 3,
      };
      return breackpoints[Object.keys(breackpoints).find(b => this.windowWidth < b)] || 4
    },
  },
  methods: {
    setWindowWidth(){
      this.windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    }
  },
  mounted(){
    this.setWindowWidth();
    window.addEventListener('resize', this.setWindowWidth)
  }
};
</script>
