<template lang="pug">
.input-group.py-5
  a.form-control.border-info.bg-transparent.text-primary.copylink(ref='copyLink' :href="link") {{link}}
  .input-group-append: button.btn.btn-primary.copybutton.outline-0(ref='copyLink' type="button" @click="toCopyLink()") {{$t('COPY')}}
</template>

<script>
  export default {
    data(){
      return{
        copybuttonStyles: ["bg-info", "font-weight-xbold", "text-primary"],
        delay: 1000
      }
    },
    props:{
      link: {
        type: String
      }
    },
    methods: {
      toCopyLink: function() {
        this.changeStyle();
        var range = document.createRange();
        range.selectNode(this.$refs.copyLink);
        window.getSelection().addRange(range);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
      },

      changeStyle: function() {
        var copyButtons = document.querySelectorAll('.copybutton');
        for (let i = 0; i < copyButtons.length; i++) {
          copyButtons[i].innerHTML = this.$t('COPIED');
          copyButtons[i].classList.add(this.copybuttonStyles);
        }
        setTimeout(this.rebackCopyLink, this.delay)
      },
    
      rebackCopyLink: function() {
        var copyButtons = document.querySelectorAll('.copybutton');
        for (let i = 0; i < copyButtons.length; i++) {
          copyButtons[i].innerHTML = this.$t('COPY');
          copyButtons[i].classList.remove(this.copybuttonStyles);
        }
      }
    }
  }
</script>


