<template lang="pug">
.messages
  .message(v-for='item in messages' :class='checkAdmin(item.admin)')
    .message-item {{item.body}}
    img(:src='"@/assets/traingle"+ checkAdminImg(item.admin) +".png"')
    .message-meta
      b {{item.nickname}}
      .small.mt-1 {{item.date}}
  //- .message.message-admin
  //-   .message-item Добрый день, bearcoin! Перевод может занимать до 48 часов, пожалуйста подождите.
  //-   img(src='@/assets/traingle.png')
  //-   .message-meta
  //-     b.text-primary Admin
  //-     .small.mt-1 14:31 17.08.2017
</template>
<script>
export default {
  props:{
    messages:{
      type: Array
    }
  },
  methods:{
    checkAdmin(item){
      return item ? 'message-admin' : 'message-user'
    },
    checkAdminImg(item){
      return item ? '' : '2'
    }
  }
}
</script>
