<template lang="pug">
  .digit(:class = "class_size")
    .label(:class="{'d-inline-block' : onerow}") {{ $t(label) }}
    .value(:class="{'d-inline-block ml-2' : onerow}")
      span.prefix {{ $t(prefix) }}
      span.val: slot {{ $t(value) }}
      span.suffix {{ $t(suffix) }}
</template>


<script>
export default {
  props: {
    value: { type: String, default: "" },
    label: { type: String, default: "" },
    prefix: { type: String, default: null },
    suffix: { type: String, default: null },
    size: { type: String, default: "md" },
    onerow: { type: Boolean, default: false }
  },
  computed: {
    class_size() {
      return "digit-" + this.size;
    }
  }
};
</script>

<style lang="scss" scoped>
.digit {
  line-height: 1.7;
  color: #ccc;
  font-size: 1.4rem;
  .value {
    .val {
      color: white;
      font-size: 1.8rem;
      font-weight: $font-weight-sbold;
    }
    .suffix {
      margin-left: 0.5rem;
    }
  }
  // & + &{
  //   margin-top: 2rem
  // }
}

.digit-sm {
  @extend .digit;
  font-size: 1.6rem;
    .value {
    .val {
      font-size: 1.6rem;
    }
  }
}
.digit-md {
  @extend .digit;
  .value {
    .val {
      font-size: 1.8rem;
    }
  }
}
.digit-lg {
  @extend .digit;
  .value {
    .val {
      font-weight: $font-weight-bold;
      font-size: 2.4rem;
    }
  }
}

.digit-xl {
  @extend .digit;
  font-size: 1.6rem;
  .value {
    .val, .suffix {
      font-weight: $font-weight-normal;
      font-size: 3.6rem;
    }
  }
}


@mixin digit-class($class) {
  .digit-#{$class} .val {
    @extend .text-#{$class};
  }
}

@each $color,
  $value in $theme-colors {
    @include digit-class(#{$color});
}
</style>




