<template lang="pug">
el-collapse
  el-collapse-item(v-for="(post, i) in posts" :title='post.title' :name='i' :key="i+'post'")
    .collapse-content(v-html="post.body")
</template>


<script>
  import posts from "../data/posts.js";
  export default {
    data: function(){
      return{
          posts
      }
    },
  }
</script>


