<template lang="pug">
div(:class='"forminput-"+size')
  input.forminput-input(v-if='mask===""' 
                    placeholder=' '
                    :type='(type=="password" && eye_mode) ? "text" : type'
                    :id='"form_" +makeid'
                    v-model='input_value'
                    v-on:input='$emit("input", input_value)'
                    :required='required')
  masked-input.forminput-input(v-else
                    placeholder=' '
                    v-model='input_value'
                    v-on:input='$emit("input", input_value)'
                    :id='"form_" +makeid'
                    :mask='mask')
  label.forminput-label.text-muted(:for='"form_" + makeid') {{ $t(label) }}
  .eye-pass(v-if="type=='password'" @click="eye_mode = !eye_mode" :class='{"eye-pass-active": eye_mode}'): v-svg(name="eye_svg" size='30')
</template>


<script>
import MaskedInput from "vue-masked-input/src/MaskedInput";
export default {
  name: "forminput",
  data: function() {
    return {
      input_value: this.value,
      eye_mode: false
    };
  },

  components: { MaskedInput },
  props: {
    type: { type: String, default: "text" },
    id: { type: String },
    label: { type: String },
    placeholder: { type: String },
    value: { type: String, default: "" },
    required: { type: Boolean, default: true },
    mask: { type: String, default: "" },
    size: { type: String, default: "md" },
  },
  computed: {
    makeid: function() {
      var text = "";
      var possible =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  }
};
</script>


<style lang="scss" scoped>
  .eye-pass{
    cursor: pointer;
    color: $secondary;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 40px;
    position: absolute;
    &-active{
      color: $primary!important
    }
  }
</style>
