<template lang='pug'> 
    a(:href='url') 
        slot
        | {{ contact }}
</template>


<script>
    export default {
        props: {
            type: { type: String, default: 'tel' },
            contact: { type: String, default: '' },
        },
        data: function(){
            return{
                url_patterns:{
                    tel: "tel:"+this.contact,
                    mail: "mailto:"+this.contact,
                    skype: "skype:"+this.contact,
                }
            }
        },
        computed: {
            url: function() {
                return this.url_patterns[this.type]
            }
        }
    }
</script>