<template lang="pug">      
el-select.language-select(size="small" v-model="$i18n.locale")
  el-option(v-for="item in $store.state.languages.variants" :key="item.value" :label="item.label" :value="item.value")
</template>
