<template lang="pug">
  .menu(:class="menuClasses()")
    router-link.menu-item(:to="item.url", v-for="(item, i) in links" :key='i+"link"').d-flex
      .link-group(:class="{'flex-row-reverse' : reverse}")
        .menu-pic(v-if="item.icon_svg")
          v-svg(:name='item.icon_svg+"_svg"' size='30')
        span.text {{ $t(item.text) }}
    slot
</template>

<script>
export default {
  props: {
    links: { type: Array},
    reverse: { type: Boolean, default: false},
    between: { type: Boolean, default: false},
    theme: { type: String, default: "white"},
    hover: { type: String, default: "none"},
    marginal: { type: String, default: "1"},
  },
  methods:{
    menuClasses(){
      let classes = [];
      classes.push(
        'menu-'+this.theme,
        'menu-hover-'+this.hover,
        {'menu-between adapt-tocenter' : this.between},
        this.marginal ? 'marginal-x-'+this.marginal : ''
      )
      return classes
    }
  }
}
</script>

<style lang="scss" scoped>
.adapt-tocenter{
  @include media('<lg'){
    justify-content: center!important;
  }
}

  
</style>





