<template lang="pug">
  .news
    .card.news-item(v-for="p_item in posts")
      .card-body.text-gray-300
          .d-flex.align-items-center.justify-content-between.mb-30
            span
              span.badge.badge-primary.mr-30 {{$t('COMPANY NEWS')}}
              span.font-sm {{ $d(new Date(p_item.date), 'long') }}
            yandex-share(:services='["vkontakte","facebook","twitter","telegram"]', :description="p_item.body", :title="p_item.title", lang="en" @share="shareIt")

          a.text-gray-300.lead.font-weight-bold(href='#')  {{ p_item.title }}
          .teaser.small(v-html="p_item.body")

</template>

<script>
import posts from "../data/posts.js";
// import share from "./vn-social.vue";
export default {
  data: function() {
    return {
      posts
    };
  },
  // methods:{
  //   shareIt($emit){
  //     console.log($emit)
  //   }
  // }
};
</script>


<style lang="scss">
.social-hover {
  svg {
    transition: 0.2s;
    &:hover {
      color: $primary;
    }
  }
}
</style>


