<template lang="pug">
.vn-range
  .rounditem
    .d-flex.justify-content-between.align-items-center
      .vn-range-label {{name}}
      .vn-range-wrapper
        input.input-range(type='number' v-model.number="valueData")
        .vn-range-units: slot
        //- .vn-range-units.rounded-circle ?
  el-slider(v-model='valueData' :max="+max" :min="+min")
</template>
<script>
export default {
  data() {
    return {
      valueData: this.value
    };
  },
    props: {
      value: {type: Number },
        max: {type: Number, default: 0 },
        min: {type: Number, default: 0 },
        name: {type: String},
    },
    watch: {
      valueData: function() {
        this.$emit('input', this.valueData);
      }
    },
};
</script>

<style lang="scss">
  .input-range {
    background: transparent;
    border: 0;
    color: white;
    text-align: right;
    font-size: $font-size-lg;
    outline: none;
    border-bottom: 1px solid $gray-600;
    width: 10rem
  }
  .vn-range{
    &:hover .input-range {
      border-bottom: 1px solid $primary
    }
  }
  .vn-range-label{
    @extend .text-uppercase, .text-primary
  }
  .vn-range-units{
    @extend .badge, .badge-info
  }
  .vn-range-wrapper{
    &>*{
      margin-left: 1rem
    }
  }
</style>
