<template lang="pug">
.top-users
  el-table(:data='users' style='width: 100%')
    el-table-column(prop="label"): template(slot-scope='scope')
      img.mr-2(:src='require("@/assets/ava1.png")' )
      span.text-primary 2134567890
    el-table-column(label="Дата регистрации"): template(slot-scope='scope')
      | 29.01.2019
    el-table-column(label="Активных партнеров"): template(slot-scope='scope') 2
    el-table-column(label="Привлечено"): template(slot-scope='scope'): vn-digit.digit-primary(prefix="$") 2 000
    el-table-column(label="Заработано"): template(slot-scope='scope'): vn-digit.digit-success(prefix="$") 1000

</template>
<script>
  import users from '../data/tree.js';
  export default {
    data: function() {
      return {
          users,
      }
    },
}
</script>




