<template lang="pug">
table(cellpadding="5" align="center").w-100.small
  tr.border-bottom.border-info
    th {{$t('CURRENCY')}}
    th {{$t('PRICE')}}
    th {{$t('DATE')}}
    th
  tr(v-for='item in lengthData')
    td {{item.pare}}
    td {{item.price}}
    td {{item.date}}
    td
      img(v-if='item.up' src='@/assets/up.svg')
      img(v-else src='@/assets/down.svg')
</template>
<script>
export default {
  props: ["data", "length"],
  computed: {
    lengthData() {
      if (!this.length) {
        return this.data;
      } else {
        var cutData = [];
        for (let i = 0; i < this.length; i++) {
          cutData.push(this.data[this.data.length - (1+i)]);
        }
        return cutData;
      }
    }
  }
};
</script>
