<template lang="pug">
el-tree.tree(:data="data" node-key="id" icon-class="expButt")
  .tree_row(slot-scope="{ node, data }" )
      .d-flex.align-items-center.marginal-x-4
        button.expButt(:class="{'tree_button__plus' : !node.expanded, 'tree_button__minus' : node.expanded , 'opacity-button': !data.children}" )
        span.text-primary ID54558855
      .text-white VIP
      .c-text-gray-800.marginal-x-1
        a(href="#"): v-svg(name="messagefill_svg" size='15')
      .small.marginal-x-1
        span {{$t('INVESTED')}}
        b.text-primary.font-md {{data.invested}}
        span USD
      .small.marginal-x-1
        span {{$t('EARNED')}}
        b.text-success.font-md {{data.earned}}
        span USD
</template>
<script>
  import data from '../data/tree.js';
  import ranks from '../data/ranks.js';
  export default {
    data: function() {
      return {
        data,
        ranks,
        greenLine: 30,
        refback: 30,
        theLink: 'starterico.found/baercoin',
      }
    },
}
</script>

<style lang="scss">
.el-tree{
background: transparent!important;
}

.el-tree-node__content{
  height: auto !important;
  background: transparent!important;
}
.el-tree-node__expand-icon{
  display: none!important
}

.opacity-button{
  opacity: 0.5;
}
  // flex-direction: row!important;
  // justify-content: space-between!important





</style>



