<template lang="pug">
    v-chart(:options="pie")
</template>
<script>
import ECharts from 'vue-echarts/components/ECharts'
import 'echarts/lib/chart/pie'

export default {
    props: {
      items: { type: Array, default: () => []  }
    },
  components: {
    'v-chart': ECharts
  },
  computed: {
      pie(){

          const data = this.items.map(item => ({
              value: item.value,
              name: item.name,
              itemStyle: item.color ?  {color: item.color} : null,
          }));

      return {
          series : [
              {

                  type: 'pie',
                  radius: ['25%', '80%'],
                  data,
                  roseType: 'angle',
                  itemStyle: {
                      normal: {
                          shadowBlur: 0,
                          shadowColor: 'rgba(0, 0, 0, 0)'
                      }
                  }
              }
          ]
      }


      }
  }
}
</script>
