<template lang="pug">
    svg(:style='sizeIcon()' :class="getClass()"): use(v-bind:xlink:href="'#'+ name")
</template>

<script>
export default {
  data() {
    return {
      defaultSizes: {
        sm: 12,
        md: 30,
        lg: 100
      }
    };
  },
  props: {
    name: { type: String, default: "" },
    size: { type: String, default: "md" },
    color: { type: String}
  },
  methods: {
    sizeIcon() {
      let size = !isNaN(+this.size) ?  this.size : this.defaultSizes[this.size];
      return {
          width: size + 'px',
          height: size + 'px'
      }
    },
    getClass(){
      let result = [];
      if (this.color) result.push('text-'+ this.color);
      return result;
    }
  }
};
</script>
