// @import "text";
@import "backgrounds";
// @import "navigation";
// @import "slider";

// @import "btn";
// @import "card";
// @import "icons";
// @import "switch";
// @import "slider";
// @import "circles";

footer {
  padding: 3rem;
}

.language-select {
  width: 70px !important;
  input {
    padding: 0 10px;
  }
}

.profile-select {
  width: 120px !important;
  input {
    padding: 0 10px;
  }
}

.btn-main {
  background: transparent;
  border: 1px $primary solid;
  color: $primary;
  font-weight: $font-weight-light;
  padding: 0.8rem 2rem;
  font-size: 2rem
}



.rounditem {
  @extend .d-flex,
  .flex-column,
  .p-20,
  .border,
  .border-gray-800,
  .rounded,
}



.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nprogress {
  .spinner-icon {
    border-top-color: $primary;
    border-left-color: $primary;
  }

  .bar {
    background: $primary;
  }
}

.nav-link {
  font-weight: $font-weight-sbold
}


.burger-link {
  padding-right: 15rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em
}

.el-menu,
.el-submenu__title {
  border-bottom-width: 0px !important;
}

.tarif-line {
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.icon-sm {
  height: 20px;
  width: 20px;
}


.icon-xs {
  height: 15px;
  width: 15px;
}

.icon-lg {
  height: 40px;
  width: 40px;
}

.icon-giant {
  svg {
    height: 1000px;
    width: 1000px;
  }
}

.ya-share2__item {
  margin-top: 5px !important
}



.contacts-pic {
  @extend .marginal-y-05,
  ;
  padding-right: 1rem;
  text-align: right;

  svg {
    color: $gray-800;
    padding-right: 1.5rem;
    @extend .icon-sm,
    ;
  }

  a {
    @extend .text-gray-300,
    ;
  }
}

.tree {
  padding: 0;
  list-style-type: none;

  ul {
    list-style-type: none
  }

  .tree_row {
    @extend .d-flex,
    .align-items-center,
    .marginal-x-5;
    padding-top: 3rem
  }

  .tree_button {
    height: 23px;
    width: 23px;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .tree_button__plus {
    @extend .tree_button;
    background: url(assets/plus.svg) center;

  }

  .tree_button__minus {
    @extend .tree_button;
    background: url(assets/minus.svg) center;
  }
}

.message {
  display: flex;
  justify-content: flex-end;

  &-item {
    padding: 2rem;
    max-width: 60%;
    border: 1px transparent solid;
    border-radius: 5px;
  }

  &+& {
    margin-top: 4rem
  }

  .message-meta {
    @extend .my-auto
  }
}

.message-user {
  .message-item {
    background: $thirdly;
  }

  .message-meta {
    @extend .ml-3
  }
}

.message-admin {
  flex-direction: row-reverse;

  .message-item {
    background: $info
  }

  .message-meta {
    @extend .mr-3
  }
}

.actions {
  margin-top: 5rem;
  position: relative;
}

.textarea {
  color: $gray-300;
  width: 100%;
  outline: none;
  padding: 2rem;
  background: $thirdly;
  border: 1px $thirdly solid;
  border-radius: $border-radius;
  min-height: 68px
}

.enter {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.btn-info {
  @extend .text-primary,
  .font-weight-normal
}

.req-img {
  width: 50px;
  display: inline-block;
}

.logo-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.autorisation {
  .label {
    @extend .text-gray-600,
    .small
  }

  .value {
    @extend .text-primary
  }
}

.purpleline {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  @include media('<xl'){
    display: none
  }
}

.pupleline-hider {
  @extend .col-auto;
  position: relative;
  background: $secondary;
  z-index: 1;
  padding: 1.5rem;
  @include media('<xl'){
    display: none
  }
}

.purplecard {
  height: 100%;
  .card-body{
    min-height: 200px;
    z-index: 2
  }
}

.briefcase {
  @extend .justify-content-between ;
  @include media('<lg'){
    border: none!important
  };
  &>.briefcase-item {
    @extend .py-4,
    .marginal-x-2,
    .d-flex,
    .align-items-center
  }

  &>.briefcase-item:not(:last-child) {
    border-bottom: 1px solid $gray-800
  }
}

.tabs {
  @extend .roundcontainer-x ;
  @extend .flex-wrap ;
  &>* {
    @extend .bg-info,
    .border,
    .border-secondary,
    .text-primary,
    .py-2,
    .px-3;

    img {
      @extend .pr-2;
    }
  }
}

.longtab {
  @extend .py-2,
  .px-3,
  .d-flex,
  .justify-content-between,
  .align-items-center,
  .bg-thirdly,
  .rounded ;
}

.profile-inputs {
  input {
    @extend .form-control,
    .bg-transparent,
    .text-white ;
  }
}

h1{
  @include media('<md'){
    font-size: 4rem!important
  }
}

.cabinet-header{
  @extend .d-flex, .align-items-center, .justify-content-xl-between, .justify-content-center, .flex-wrap, .flex-xl-nowrap ;
  @extend .mt-1 ;
}