.bg-main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;

}

.bg-about {
  background: url(assets/phone.png) right no-repeat;
  background-color: #1a2138;
  height: 759px;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.card-partnerts {
  background: url(assets/partners.png) center no-repeat;
  max-height: 357px;
  @include media('<xl') {
    background: none;
    max-height: none;
  }
}