.card-footer {
    padding: 2rem 3rem 2rem 5rem;
    background: $gradient2;
    color: $white;
  
  }
  
  .card-body {
    padding: 4rem 3rem 0rem 5rem;
  
  }
  
  .cards__title {
    background: url(./assets/img/cardtitle.svg) no-repeat;
  }

  .card-plan {
    display: block;
    cursor: pointer;
    border: 1px solid #E0DFE6;
    border-radius: 3px;
    outline: none;
  }
  
  .cardactive {
    border: 1px solid #FF4D29;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.10);
  }
  