
.circle {
    left: calc(50% - 98px/2);
    top: calc(50% - 98px/2);
    animation: 5s linear 0s normal none infinite running rot;
    -webkit-animation: 5s linear 0s normal none infinite running rot;
  
    @keyframes rot {
      0% {
        transform: rotate(360deg);
      }
  
      100% {
        transform: rotate(0deg);
      }
    }
  
    @-webkit-keyframes rot {
      0% {
        transform: rotate(360deg);
      }
  
      100% {
        transform: rotate(0deg);
      }
    }
  
    @include media ("<360px") {
      display: none;
    }
  }
  
  .anti-circle {
    left: calc(50% - 98px/2);
    top: calc(50% - 98px/2);
    animation: 5s linear 0s normal none infinite running antirot;
    -webkit-animation: 5s linear 0s normal none infinite running antirot;
  
    @keyframes antirot {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
  
    @-webkit-keyframes antirot {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
    @include media ("<360px") {
      display: none;
    }
  }
  
  .undercircle {
    font-size: 1.8rem;
    color: $warning;
    font-weight: $font-weight-sbold;
    position: absolute;
    top: 100px;
    width: 140px;
    left: calc(50% - 70px);
    @include media ("<360px") {
      top: 60px;
    }
  }