svg{
    width: 1em;
    height: 1em;
  }
  
  .icon-lg{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
  }
  
  .social {
    padding: 1rem 0 2rem;
    a {
      margin-right: 1.5rem;
      transition: 0.5s;
      &:hover{
        color: $primary;
      }
    }
  }
  
  
  .brands {
    a {
      margin-right: 3rem;
  
      img {
        margin-bottom: 2rem;
      }
    }
  
    a:nth-child(4) {
      margin-right: 0;
      @include media('<xl') {
        margin-right: 3rem;
      }
    }
    a:last-child {
      margin-right: 0;
    }
  }