@include media(">lg"){
.main-menu{
  
  display: flex;
  a {
    margin-right: auto;
    color: $gray-900;
    font-weight: 600;
    padding: 3rem 1rem;
    &:hover{
      color: $primary;
    }
  }

  a:last-child:after{
    content: "";
    position: absolute;
    right: 0;
    display: inline-block;
    height: 2.5rem;
    width: 1px;
    background: $gray-900;
  }
}

.secondary-menu{
  display: flex;
  a{
    color: $gray-600;
    font-weight: 400;
    margin-left: auto;
    padding: 3rem 1rem;
    &:hover{
      color: $primary;
    }
  }
}
}