#slider{
  height: 700px;
  width: 555px;
}

@include media("<600px"){
  #slider{
    width: 320px;
    height: 400px;
  }
  .swiper-slide{
    background-size: 60%!important;
    background-repeat: no-repeat;
  }
  .custom-slider-arrow{
    height: 60px!important;
    bottom: 60px!important;
  }
  .swiper-button-prev{
    margin-left: -20px!important;
  }
  .swiper-button-next{
    margin-right: -20px!important;
  }

  .gallery-thumbs{
    margin-top: -50px!important;
  }
}
