
.switch {
    .switch_item {
      box-shadow: 0 2px 1px 0 #015072;
      margin-bottom: 35px;
    }
  }

  
  .radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .radio-input+.radio-label {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    color: $secondary;
    border: 1px solid #E0DFE6;
    margin-bottom: 35px;
  }
  
  .radio-input:checked+.radio-label {
    background: #ED1846;
    border: none;
    color: white;
    box-shadow: 0 2px 0px 0 #015072;
  }
  
  .radio-label:nth-child(2) {
    border-radius: 5px 0px 0px 5px;
    margin-right: -5px
    
  }
  
  .radio-label:last-child {
    border-radius: 0 5px 5px 0;
    margin-left: -5px
  }
  
  .radio-label{
    @include media ("<600px"){
      border-radius: 5px!important;
      margin: 10px auto!important;
      display: block;
      width: 90%;
    }
  }