.parent-black-div{
  position: relative;
  &:hover{
    .black-div{
      background-color: rgba(0, 0, 0, 0.5);
    }
  };
  *:not(.black-div){
    z-index: 2;
    position: relative;
  }
  .black-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
  }
}

