.card{
  &-md{
    .card-body{
      padding: 3rem;
      &{
        @include media('<md'){
          padding: 2rem!important;
        }
      }
    }
  }

  &-lg{
    .card-body{
      padding: 7rem !important;
      &{
        @include media('<md'){
          padding: 2rem!important;
        }
      }
    }
  }
}