
.el-input__suffix
{
  border-left: white 1px solid;
}
//?

.el-collapse-item__arrow{
float: left!important;
margin-right: 2rem;
}

.el-icon-arrow-right:before {
border-radius: 50px;
padding: 3px;
margin: 1rem;
background: #2B2E55;
transition: 0.5s
}

.el-icon-arrow-right.is-active:before {
background: #F7C972;
color: #2B2E55;
}

.el-collapse-item__header{ 
  font-weight: 300!important;
  transition: 0.3s!important;
  &:hover{
    color: #F7C972;
  }
}

.el-collapse-item{
&+&{
    margin-top: 1rem!important;
}
}
.collapse-content{
letter-spacing: 0px;
padding: 2rem;
background: #171D33;
border-radius: 5px;
box-shadow: 0px 2px 4px  black;

}


.el-collapse-item__header {
  height: auto!important;
}