.countries{
  &-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  &-percent{
    margin-left: auto;
  }
}
