.digit{
  display: flex;
  flex-direction: column;
  // flex-grow: 1;

  line-height: 1;

  border-radius: $border-radius;
  padding: 10px 20px;

}

.label{
  font-size: 1.2rem;
  font-weight: $font-weight-sbold;
  white-space: nowrap;
}

.value{
  font-weight: $font-weight-xbold;
  font-size: 5rem;
  color: $primary;
  text-shadow: 0px 3px 1px #7D2A19; /* Параметры тени */
}

.digit-sm {
  @extend .digit;
  .value{
    font-size: 4rem;
  }
}


.card-status{
  display: flex;
  flex-wrap: wrap;
  }



// .digit{
// > hr {
//   margin-right: 0;
//   margin-left: 0;
// }
//
// > .list-group:first-child {
//   .list-group-item:first-child {
//     @include border-top-radius($card-border-radius);
//   }
// }
//
// > .list-group:last-child {
//   .list-group-item:last-child {
//     @include border-bottom-radius($card-border-radius);
//   }
// }
// }
