@mixin forminput-size($paddin-y, $padding-x, $border-radius) {
  position: relative;
  .forminput-label {
    position: absolute;
    top: $paddin-y;
    left: $padding-x;
    transition: 0.3s;
    cursor: text;
  }

  .forminput-input {
    outline: none;
    transition: 0.3s;
    padding: $paddin-y $padding-x $paddin-y;
    border-radius: $border-radius;
    width: 100%;

    &:not(:placeholder-shown)+.forminput-label,
    &:focus+.forminput-label {
      top: $paddin-y/3;
      font-size: 1rem;
    }
    &:hover, &:focus{
      border: 2px solid $primary;
    }
  }
}

.forminput-sm {
  @include forminput-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $btn-border-radius-sm);
}
.forminput-md{
  @include forminput-size($input-btn-padding-y, $input-btn-padding-x, $btn-border-radius);
}
.forminput-lg {
  @include forminput-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $btn-border-radius-lg);
}
