.form-input {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
    position: relative;

    &__label{
        position: absolute;
        top: 1rem;
        left: 2rem;
        font-size: 1.2rem;
        transition: 0.3s;

    }

    .okimage {
        position: absolute;
        right: 23px;
        top: calc(50% - 24px/2)
    }

    & + & {
        margin-top: 20px;
    }
  }

  .form-item {
    display: block;
    width: 100%;
    padding: 3rem 2rem 1rem;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    background: none;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    border-radius: 10px;
    
    &:focus {
        transition: 0.3s;
        outline: none;
        // background: white;
    }



}

// input:invalid {
// background: #fdd!important; /* Красный цвет фона */
// }

// input:valid {
// background: #dfd; /* Зеленый цвет фона */
// }

// input:focus + label {
//     position: absolute;
//     top: 1rem;
//     left: 2rem;
//     font-size: 1.2rem;
// }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}