.input-custom {
  padding: 2.5rem 1.5rem 0.8rem;
  border: 1px #E0DFE6 solid;
  border-radius: $border-radius;
  outline: none!important;

}

.label-animation {
  position: absolute;
  color: #666666;
  top: 1.8rem;
  left: 3rem;
  transition: 0.3s;
  cursor: text
}

input:not(:placeholder-shown)+.label-animation,
input:focus+.label-animation {
  top: 0.7rem;
  font-size: 1.2rem;
}


