.menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  

  .menu-item{
    .link-group {
      display: flex;
      align-items: center;
      @extend .my-1 ; 
      .text {
        transition: 0.3s;
      }
    }
    
    .menu-pic {
      transition: 0.3s;
      background: $secondary;
      border-radius: 50px;
      height: 30px;
      width: 30px;
      margin-right: 1rem;
      margin-left: 1rem;
      padding-left: 0.6rem;
    
      svg {
        transition: 0.3s;
        margin-left: -0.6rem;
      }
    }
  }

  &.menu-sm{

    .menu-item{
      font-size: 1.4rem;
    }
  }
  &.menu-between{
    justify-content: space-between;
  }
}



@mixin menu-variant($parent, $color) {
  #{$parent} {
    .menu-item{
      color: $color !important;
      @include hover-focus {
        color: darken($color, 10%) !important;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  @include menu-variant(".menu-#{$color}", $value);
}

@mixin menu-hover($parent, $color) {
  #{$parent},  {
    .link-group {
      &:hover {
        .menu-pic {
          background: $color;
        }
        svg {
          color: $secondary
        }
    
        .text {
          color: $color
        }
      }
    }
    .router-link-exact-active{
      .menu-pic {
          background: $color!important;
        }
      svg {
          color: $secondary!important
        }
      .text {
          color: $color!important
        }
    }
  }
}

@each $color, $value in $theme-colors {
  @include menu-hover(".menu-hover-#{$color}" , $value);
}
