.message {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 100%;
  display: inline-block;
  padding: 20px;
  height: 62px;
  border-radius: 3px 5px 5px 3px;
  background: #FEFBED;
  color: #4D4D4D;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
  white-space: nowrap;

  .traingle {
    position: absolute;
    z-index: 99;
    left: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-right: 10px solid #FEFBED;
    border-bottom: 31px solid transparent;
  }

  display: none;
}


.message-faq {
  padding: 2rem;
  position: relative;


  &.user {
    color: $secondary;
    background: #F7F7FA;
    padding-right: 0
  }

  &.admin {
    color: #F7F7FA;
    background: $secondary;
    padding-left: 0

  }
}

.traingle {
  &_user{
    margin-left: -1.5px;
  }
  &_admin{
    margin-right: -1.5px;
  }
}

.message-row {
  &+& {
    margin-top: 3rem;
  }
}
