section {


  &+& {
    margin-top: 10rem;
  }

  @include media("<md") {
    &+& {
      margin: 7rem 0;
    }
  }

}

.subsection {

  &+& {
    margin-top: 5rem;
  }



  @include media("<md") {
    &+& { margin: 3rem 0;}
  }
}