.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 10px;
    background: #E0DFE6;
    left: 50%;
    margin-left: -5px;
    border-radius: 50px;
}


.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    background: #ffffff;
    position: relative;
}

.timeline > li > .timeline-branch {
    background: #E0DFE6;
    width: 350px;
    height: 1px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 360px;
    right: 0px;
    z-index: 100;
    @include media ("<sm") {
        top: 45px;
    }
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}



.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-branch {
    left: 0;
    width: 45px;
}
.no-float {
    float: none !important;
}
@media (max-width: 1200px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-branch {
        left: 40px;
        width: 45px;

    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-branch {
        left: 40px;
    }
}

