.card.mt-5: .card-body
  h6 Dynamic Daily
  .roundcontainer-x.d-flex.c-w-100
    .rounditem.briefcase
      .briefcase-item
        v-svg(name="stix_svg" size='23' color="primary")
        vn-digit(label="INVESTED" suffix='USD' size="sm" onerow): span.text-success {{7000 | formatMoney}}
      .briefcase-item
        v-svg(name="calendar_svg" size='sm' color="primary")
        vn-digit(label="DEPOSIT.DATE_IN" size="sm" onerow): span.font-weight-normal 11:27 01.08.2017
      .briefcase-item
        v-svg(name="calendar_svg" size='sm' color="success")
        vn-digit(label="DEPOSIT.NEXT_ACCRUAL" size="sm" onerow): span.ml-auto.font-weight-normal 00:00:00
      .briefcase-item
        v-svg(name="clock_svg" size='sm' color="primary")
        vn-digit(label="ACCRUED" suffix='SRT' size="sm" onerow)
          span.text-success {{100 | formatMoney}}
          span.text-muted {{ ' / ' }}
          span {{300 | formatMoney}}
      .briefcase-item
        v-svg(name="logotip_svg" size='sm')
        vn-digit(label="BONUS" suffix='DASHCOIN' size="sm" onerow): span.text-success {{720 | formatMoney}}
        .text-muted.ml-auto 20.12.2019
    .rounditem.p-0.pl-5.d-none.d-lg-block
      graphic
