<template lang="pug">
    include index.pug
</template>


<script>
    import vnTopUsers from "@/components/vn-top-users";
    import graphic from "@/components/graphic.vue";
    export default {
        components:{
            graphic, vnTopUsers
        }
    }
</script>
