div

  .row.mb-5
    .col-sm-4
      .card: .card-body
        .row
          .col
            h3 {{ $t('STATS.USERS') }}
            vn-digit(size="xl" suffix="STATS.USERS_LABEL") 2400
          .col-auto
            h3.text-success {{ $t('STATS.USERS_ONLINE') }}
            vn-digit.digit-success(size="xl") 24
    .col-sm-4
      .card: .card-body
        h3 {{ $t('STATS.SIGNUPS_24HOURS') }}
        vn-digit(size="xl") 24
    .col
      .card: .card-body
        h3 {{ $t('STATS.NEW_DEPOSIT') }}
        vn-digit(size="xl")
          img(src='@/assets/req-bit.svg')
          |
          | 0.0000154

  .row.mb-5
    .col-sm-6
      .card: .card-body
        h3 {{ $t('STATS.MONEY_IN') }}
        .longtab
          img(src='@/assets/req-bit.svg')
          span Bitcoin
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/req-lit.svg')
          span Litecoin
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/req-eth.svg')
          span Etherium
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/rub.svg')
          span {{$t('RUBLES')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/USD.svg')
          span {{$t('DOLLARS')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/EUR.svg')
          span {{$t('EURO')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
    .col-sm-6
      .card: .card-body
        h3 {{ $t('STATS.MONEY_OUT') }}
        .longtab
          img(src='@/assets/req-bit.svg')
          span Bitcoin
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/req-lit.svg')
          span Litecoin
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/req-eth.svg')
          span Etherium
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/rub.svg')
          span {{$t('RUBLES')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/USD.svg')
          span {{$t('DOLLARS')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}
        .longtab
          img(src='@/assets/EUR.svg')
          span {{$t('EURO')}}
          .text-info(v-for='item in 8') ·
          .text-primary {{7000 | formatMoney}}



  .card.mb-5
    .card-body
      h3 {{ $t('STATS.USERS_TOP') }}
      vn-top-users
  .card
    .card-body
      h3 {{ $t('STATS.REG_TIMELINE') }}
      graphic
