<template lang="pug">
    include index.pug
</template>

<script>
    import depositsList from '@/components/deposits/depositsList';
    export default {
        components:{
            depositsList
        },
        data: () => ({
            deposits: [1,2, 3],
        }),
    }
</script>
