.container
  footer.card: .row
    .col-12.col-md-3
      +logo.mb-20
      .text-gray-300.d-flex.flex-column.font-sm.marginal-y-05
        span  © 2017 CB Starterico LP
        span  25 Peel Place, Clayhall Avenue, Ilford, Essex, IG5 OPS, United Kingdom
        span  Phone: +442036088233
    .col-12.col-md-9.mt-30.mt-md-0
      vn-menu(:links="SecondaryMenu" theme="primary").small.mb-10.flex-wrap
      p.font-sm.text-gray-800 {{ $t('FOOTER.CONTENT') }}
      p
        | Investment with
        smile.ml-1(name="heart")
