<template lang="pug">
  include includes/$vars
  include includes/$mixins
  #app
    transition(name="jade" appear mode="in-out" :duration="2000")
      include includes/partials/preloader
    transition(name="fade" appear mode="in-out" :duration="2000")
      .full-page
        div
          
          router-view(name='header')
          router-view
        include includes/partials/footer
    include includes/$svgs
</template>

<script>
import MainMenu from './data/menus/main-menu';
// import AuthMenu from './data/menus/auth-menu';
import SecondaryMenu from './data/menus/secondary-menu';
import Balance from './data/balance';


import jsn from '@/locales/ru.js';

// import VnNav from './components/nav.vue';
// import VnBurger from './components/vn-burger.vue';

export default {
  data: function() {
    return {
      jsn,
      Balance,
      MainMenu,
      SecondaryMenu,
      languages: {
        current: "RU",
        variants: [
          {
            value: "ru",
            label: "RU"
          },
          {
            value: "en",
            label: "EN"
          }
        ]
      }
    }
  },
}; 
</script>

<style lang="scss">
@import "@/sass/main.scss";
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

.jade-enter-active, .jade-leave-active {
  transition: opacity 2s;
}
.jade-enter, .jade-leave-to{
  opacity: 1;
}

</style>





