/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/



$--color-primary: #F7C972;

$--input-fill: transparent !default;
$--input-color: white !default;
$--select-input-color: #F7C972 !default;
$--select-input-focus-background: white !default;
$--select-option-selected: #212944 !default;
$--input-small-font-size: 1.4rem;
$--input-medium-font-size: 1.6rem;
$--input-medium-height: 40px;
$--input-small-height: 29px;
$--input-border: white 1px solid;

$--collapse-border-color: transparent !default;
// $--collapse-header-height: 48px !default;
// $--collapse-header-padding: 20px !default;
$--collapse-header-fill: transparent !default;
$--collapse-header-color: white !default;
$--collapse-header-size: 2rem !default;
$--collapse-content-fill: transparent;
$--collapse-content-size: 1.6rem;
$--collapse-content-color: white;

/* Table
-------------------------- */
$--table-text-color: #CCCCCC !default;
$--table-border: 0 !default;
$--table-row-hover-background: rgb(30, 38, 68) !default;
$--table-header-background: #1A2138 !default;
$--table-footer-background: #1A2138 !default;

/* Pagination
-------------------------- */

$--pagination-fill: transparent !default;
$--pagination-color: white !default;
$--pagination-button-color: white !default;
$--pagination-button-disabled-color: white !default;
$--pagination-button-disabled-fill: transparent !default;
$--pagination-hover-fill: $--color-primary;


// $--slider-margin: 16px 0 !default;
// $--slider-border-radius: 3px !default;
$--slider-height: 10px !default; //6
$--slider-button-size: 31px !default; //16
// $--slider-button-wrapper-size: 36px !default;
// $--slider-button-wrapper-offset: -15px !default;
/* Slider
--------------------------*/
$--slider-runway-background-color: #3A4159 !default; // transparent
$--slider-button-hover-color: purple !default;
$--slider-disable-color: #53C55A;
$--slider-main-background-color: #53C55A !default;

.el-slider__button {
  border-width: 0px !important; //8
  background: url(assets/button.svg) center center !important
}
.el-slider__runway {
  margin-top: -11px!important;
}

.slider-mini {
  .el-slider__button {
    border-width: 8px !important;
    background: none !important
  }

  .el-slider__runway {
    background-color: transparent !important;
    margin-top: -5px!important;
  }

  .el-slider__bar {
    height: 6px !important;
  }

  .el-slider__button {
    height: 8px;
    width: 8px;
  }

}


.el-table__row td {
  background: #171D33 !important;

  svg {
    color: $--color-primary;
    width: 20px;
    height: 20px;
  }
}

.el-table__row--striped td {
  background: #1A2138 !important;

  svg {
    color: #51C458;
  }
}



.el-table:before {
  background: transparent !important
}

.cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

th {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ccc;
  text-align: left !important
}

.el-table {
  font-size: 1.6rem !important
}


.el-menu-item {
  padding: 5px 35px;
}

$--cascader-menu-option-color-active: white !default;




/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";